<div class="single_tab" id="single_tab">
<% function check_structure(el) {
  if (el !== '' && typeof el !== 'undefined' && el !== '[{}]') {
    return true
  } return false
} %>
<ul class="single_navigation  nav nav-pills">
  <li><a class="tab_active"  href="#single_tab">Описание</a></li>
  <li><a  href="#single_tab1">Цены</a></li>
  <li><a  href="#single_tab2">Рассрочка</a></li>
  <%  if (check_structure(d.layouts)) { %>
  <li><a class=""  href="#single_tab3">Планировки</a></li>
  <%  } %>
</ul>


<% let construct = JSON.parse(d.construction_characteristics) %>

<div id="home" class="tab-pane fade in active">
<% let construction1 = `    <h3 class="underlined">${construct[0].text}</h3>
    <div class="rows">
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
            <span class="bold">${construct[1].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[2].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold">${construct[3].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[4].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold"></span>${construct[5].text}</span>
        </div>
        <div class="col-md-6">
        ${construct[6].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold"></span>${construct[7].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[8].text}
        </div>
      </div>
    </div>` %>
<% let construction2 = `<h3 class="underlined">${construct[9].text}</h3>
<div class="rows">
  <div class="row">
    <div class="col-md-6">
      <span class="circle"></span>
        <span class="bold">${construct[10].text}</span>
    </div>
    <div class="col-md-6">
      ${construct[11].text}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="circle"></span>
      <span class="bold">${construct[12].text}</span>
    </div>
    <div class="col-md-6">
      ${construct[13].text}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="circle"></span>
      <span class="bold"></span>${construct[14].text}</span>
    </div>
    <div class="col-md-6">
      ${construct[15].text}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="circle"></span>
      <span class="bold"></span>${construct[16].text}</span>
    </div>
    <div class="col-md-6">
      ${construct[17].text}
    </div>
  </div>
</div>    ` %>
<% let construction3 = `     <h3 class="underlined">${construct[18].text}</h3>
    <div class="rows">
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
            <span class="bold">${construct[19].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[20].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold">${construct[21].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[22].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold"></span>${construct[23].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[24].text}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="circle"></span>
          <span class="bold"></span>${construct[25].text}</span>
        </div>
        <div class="col-md-6">
          ${construct[26].text}
        </div>
      </div>
    </div>
</div>
   ` %>
<div class="inline-flex only-desk">
  <div class="sticky_block">
    <%- construction1 %>
  </div>
  <div class="sticky_block">
  <%- construction2 %>
  </div>
  <div class="sticky_block">
  <%- construction3 %>
  </div>
</div>
<div class="inline-flex only-mob construction_slider">
  <div class="container">
  <% include ../single/construction_slider %>
</div>
</div>
  <script>
      function sticky_block (parent, child){
    $(parent).children(child).on('click', function(){
      $(parent).addClass('staging')
      setTimeout(function(){$(parent).removeClass('staging')},600)
      $(child).removeClass('active')
      $(this).addClass('active')
    })
      }
    sticky_block ('.inline-flex', '.sticky_block')
  </script>
</div>
