<ul class="nav nav-pills">
  <li><a  href="#home">Описание</a></li>
  <li><a class="tab_active"  href="#menu1">Цены</a></li>
  <li><a  href="#menu2">Рассрочка</a></li>
  <li><a  href="#menu3">Планировки</a></li>
</ul>
  <div id="menu1" class="tab-pane fade">
    <div class="prices_tab">
  <div class="prices_button">
    <div class="button_c">
      <button type="button" name="button">Подробнее</button>
      <span class="phone_icon"><img src="/images/phone.png" /></span>
    </div>
  </div>
<div class="prices">
  <h3 class="underlined">Цены</h3>
  <div class="rows">
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Однокомнатная</span>
      </div>
      <div class="col-md-6">
        <span>Площадь: от 23,7 м</span>
        <span>Цена: от <mark>16 800 у.е.</mark></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Фундаменты</span>
      </div>
      <div class="col-md-6">
        <span>Площадь: от 23,7 м</span>
        <span>Цена: от <mark>16 800 у.е.</mark></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Фундаменты</span>
      </div>
      <div class="col-md-6">
        <span>Площадь: от 23,7 м</span>
        <span>Цена: от <mark>16 800 у.е.</mark></span>
      </div>
    </div>
    </div>
</div>
</div>
</div>
