<div class="single_tab" id="single_tab2">
<% function check_structure(el) {
  if (el !== '' && typeof el !== 'undefined' && el !== '[{}]') {
    return true
  } return false
} %>
  <ul class="nav nav-pills">
  <li><a  href="#single_tab">Описание</a></li>
  <li><a  href="#single_tab1">Цены</a></li>
  <li><a class="tab_active"  href="#single_tab2">Рассрочка</a></li>
  <%  if (check_structure(d.layouts)) { %>
  <li><a class="tab_active"  href="#single_tab3">Планировки</a></li>
  <%  } %>
</ul>
<div id="menu2" class="tab-pane fade">
  <div class="installments_tab">
  <div class="prices_button">
    <div class="button_c">
      <button type="button" name="button">Подробнее</button>
      <span class="phone_icon"><img src="/images/phone.png" /></span>
    </div>
  </div>
<div class="prices">
  <h3 class="underlined text-center">Рассрочка</h3>
  <div class="rows">
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Рассрочка до 10 лет</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
    </div>
    </div>
</div>
    </div>
</div>


</div>
