


<div class="planning_tab">
<div class="panel_col flex_col">
<div class="panel">
  <h4 class="underlined">Планировки</h4>

<ul class="nav nav-pills">
  <li class="active">
<a data-toggle="pill" href="#slide_1" class="tab_active"><span class="big circle"></span>Секция 1, 2 Этажи</a></li>
               <li><a data-toggle="pill" href="#slide_2"><span class="big circle"></span>Секция 1, 2 Этажи</a></li>
               <li><a data-toggle="pill" href="#slide_3"><span class="big circle"></span>Секция 1, 2 Этажи</a></li>
               <li><a data-toggle="pill" href="#slide_4"><span class="big circle"></span>Секция 1, 2 Этажи</a></li>
</ul>



</div>
<div class="button_c">
      <button type="button" name="button">Наличие квартир</button>
      <span class="phone_icon"><img src="/images/phone.png"></span>
    </div>
    </div>



<div class="tab-content">
  <div id="slide_1" class="tab-pane fade in active">
    <div class="plannimg">
    <img src="/images/planning2.jpg" />
  </div>
</div>
  <div id="slide_2" class="tab-pane fade">
    <div class="plannimg">
    <img src="/images/planning2.jpg" />
  </div>
  </div>
  <div id="slide_3" class="tab-pane fade">
    <div class="plannimg">
    <img src="/images/planning2.jpg" />
  </div>
  </div>
  <div id="slide_4" class="tab-pane fade">
    <div class="plannimg">
    <img src="/images/planning2.jpg" />
  </div>
  </div>
</div>
</div>



</div>
