							<% include ../partials/roof %>
			<section class="feedback-area-area pt-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t1.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t2.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t3.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t1.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t2.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t3.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t1.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t2.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feedback">
								<img src="img/t3.png" alt="">
								<p>
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory.
								</p>
								<a href="#">
									<h5 class="text-uppercase">Mark Alviro Wiens</h5>
								</a>
								<p>CEO at Google</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End feedback-area Area -->

			<!-- Start brands Area -->
			<section class="brands-area pb-120 pt-90">
				<div class="container no-padding">
					<div class="brand-wrap">
						<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" src="img/l1.png" alt=""></a>
							</div>
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" src="img/l2.png" alt=""></a>
							</div>
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" src="img/l3.png" alt=""></a>
							</div>
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" src="img/l4.png" alt=""></a>
							</div>
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" src="img/l5.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</section>



			<% include ../partials/basement %>
