<section class="content-header">
<h1>
Личный кабинет
<small>Добро пожаловать!</small>
</h1>
<ol class="breadcrumb">
<li><a href="/"><i class="fa fa-dashboard"></i> Домой</a></li>
<li class="active"><a href="/profile"><i class="fa fa-user"></i>Профиль</a></li>
</ol>
</section>
<section class="content">
<h1>Задачи</h1>



<form action="/task_management" method="post">
  <p><b></b></p>
  <p><input type="text" name="task" id="task" value="важное"><br>
  <input type="text" name="task_desc" id="task_desc" value="важное"><br>
  <input type="text" id="task_status" name="task_status" value="Важное"></p>
  <p><input type="submit"></p>
 </form>


<div class="row">


<%# React Component %>
<style>.small-box { opacity: 0; transition: .4s ease-in-out; } .content .small-box { opacity: 1; }</style>
<div id="root"> </div>
<script src="/js/main.ca171235.js"></script>
<%# React Component %>


</section>
