<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Личный кабинет
    <small>Добро пожаловать!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Домой</a></li>
    <li class="active"><a href="/profile"><i class="fa fa-user"></i>Профиль</a></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
<h1>Задачи</h1>
  <div class="row">


    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>1</h3>
          <p><a href="https://github.com/reactjs/express-react-views">react + webpack CLICK solution</a></p>
        </div>
        <div class="icon">
          <i class="ion ion-nuclear"></i>
        </div>
      </div>
    </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>2<sup style="font-size: 20px"></sup></h3>
                <p>Добавить новую страницу к таблице</p>
              </div>
              <div class="icon">
                <i class="ion ion-grid"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>3</h3>
                <p> Автоматическая линковка</p>
              </div>
              <div class="icon">
                <i class="ion ion-link"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>4</h3>
                <p>Редактирование страниц</p>
              </div>
              <div class="icon">
                <i class="ion ion-edit"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
</section>
<!-- /.content -->
