<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Личный кабинет
    <small>Добро пожаловать!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Домой</a></li>
    <li class="active"><a href="/profile"><i class="fa fa-user"></i>Профиль</a></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
</section>
<!-- /.content -->
