<div class="col">
  <div class="listing_slider_container">
    <div class="owl-carousel owl-theme listing_slider">
      <div class="owl-item listing_slider_item">
        <img src="/images/listing_slider_1.jpg" alt="https://unsplash.com/@astute">
      </div>
      <div class="owl-item listing_slider_item">
        <img src="/images/listing_slider_1.jpg" alt="https://unsplash.com/@astute">
      </div>
      <div class="owl-item listing_slider_item">
        <img src="/images/listing_slider_1.jpg" alt="https://unsplash.com/@astute">
      </div>
      <div class="owl-item listing_slider_item">
        <img src="/images/listing_slider_1.jpg" alt="https://unsplash.com/@astute">
      </div>
      <div class="owl-item listing_slider_item">
        <img src="/images/listing_slider_1.jpg" alt="https://unsplash.com/@astute">
      </div>
    </div>
    <div class="listing_slider_nav listing_slider_prev d-flex flex-row align-items-center justify-content-center trans_200">
      <img src="/images/nav_left.png" alt="">
    </div>
    <div class="listing_slider_nav listing_slider_next d-flex flex-row align-items-center justify-content-center trans_200">
      <img src="/images/nav_right.png" alt="">
    </div>
  </div>
</div>
