<div class="overlay">
<div class="container">
<div class="row">
<div class="col-md-12">
  <h2 class="text-white text-center section_title "> Обратившись к нам, Вы получаете<span class="block bold">5 Бесплатных услуг для покупки квартиры</span></h2>
  <div class="rows advs">
  <div class="row advs">
    <div class="col-md-6">
      <div class="square">
        <img src="/brief/png/icons8-about-96.png" alt="">
      </div>
      <p class="text-white text-center">
        100% Информации
      </p>
    </div>
    <div class="col-md-6">
      <div class="square">
        <img src="/brief/png/icons8-calculator-96.png" alt="">
      </div>
      <p class="text-white text-center">
        Рассчет стоимости
      </p>
    </div>
  </div>
  <div class="row advs">
    <div class="col-md-6">
      <div class="square">
        <img src="/brief/png/lock.png" alt="">
      </div>
      <p class="text-white text-center">
        Бронирование
      </p>
    </div>
    <div class="col-md-6">
      <div class="square">
        <img src="/brief/png/icons8-ok-96.png" alt="">
      </div>
      <p class="text-white text-center">
        Оформление сделки
      </p>
    </div>
  </div>
</div>
</div>
<div class="percents">
  <h2 class="text-white text-center section_title "> При покупке квартиры</h2>
  <div class="flex-col">
<div class="row">
  <span class="blue bold">0%</span>
  <p class="text-white">
    Переплат
  </p>
</div>
<div class="row">
  <span class="blue bold">0%</span>
  <p class="text-white">
    Оформление
  </p>
</div>
</div>
  <div class="w100">
<div class="button_c">
      <button type="button" name="button">Заказать звонок</button>
      <span class="phone_icon"><img src="/images/phone.png"></span>
    </div>
  </div>
</div>
</div>
</div>
</div>
