<div class="cus">

	<div class="container">
<div class="row">
<div class="col-md-12">
  <h2 class="text-white text-center section_title "> Связаться <span class=" bold">с нами</span></h2>
<div class="f_col flex_col">
  <p class="text-white">
    Адрес: ул.Екатерининская 26 ТЦ «Kadorr» 3 этаж офис 106
         <span class="block indented">: ул.Днепропетровская дорога 3 ТЦ "Этаж" 1 этаж офис 5</span>
  </p>
  <p class="text-white p2">
  <span class="block ">  Viber/Telegram: 050 355 92 07 </span>
  <span class="block indented">  E-mail: info@novostroiki.od.ua </span>


  </p>
  <p class="text-white p3">
    <span class="">Тел: 050 355 92 07</span>
    <span class="block indented">: 067 621 92 07</span>
  </p>
</div>
</div>
<div class="w100">
  <div class="button_c">
    <button type="button" name="button">Мы вам перезвоним</button>
    <span class="phone_icon"><img src="/images/phone.png"></span>
  </div>
</div>
</div>
</div>

</div>
