<div class="cus">
	<div class="container">
<div class="row">
	<ul class="main_nav_list">
<% include ./header_menu %>
	</ul>
	</div>
	<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <h2 class="text-white text-center section_title "> cвязаться с нами</h2>
<div class="f_col flex_col">
  <p class="text-white">
    <span class="block">(048) 771 97 79</span>
    <span class="block">(073) 144 92 10 </span>
  </p>
	<div class="messengers" id="messengers">
          <ul class="flex">
            <li><a href="whatsapp://send?abid=[users name]&amp;text=[message text]"> <img class="small" src="/images/whatsapp_icon.png"> </a></li>
            <li><a href="tg://user?id=123456789"> <img class="small" src="/images/telegram_icon.png"></a></li>
            <li><a href="viber://pa?chatURI=[public account URI]&amp;text=[message text]"> <img class="small" src="/images/viber_icon.png"> </a></li>
          </ul>
  </div>
	<p class="text-white">
	<span class="block">(067) 621-93-24</span>
	</p>
	<p class="text-white">
	<span class="">(info@novostroiki.od.ua</span>
	</p>
</div>
</div>
<div class="col-md-4">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5485.303031811779!2d30.802457428866575!3d46.57435630306219!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x516b6cf69b54cff7!2z0KLQpiDQrdC60LLQsNGC0L7RgA!5e0!3m2!1sru!2sua!4v1542031433484"
	width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
<div class="w100">
  <div class="button_c">
    <button type="button" name="button">Мы вам перезвоним</button>
    <span class="phone_icon"><img src="/images/phone.png"></span>
  </div>
</div>
</div>
</div>
