<div class="cta_1_background" style="background-image:url(images/cta_1.jpg)"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="cta_1_content d-flex flex-lg-row flex-column align-items-center justify-content-start">
        <h3 class="cta_1_text text-lg-left text-center">Я уверен, Вы знаете <span>кто напишет сюда текст?</span></h3>
        <div class="cta_1_phone">Позвоните нам:   <%= sitedata.phone %></div>
      </div>
    </div>
  </div>
</div>
