<li class="main_nav_item">
  <a href="/"><img src="/images/phone-call.svg" alt="">Главная</a>
</li>
<li class="main_nav_item">
  <a href="/stroyaschiesya-doma"><img src="/images/phone-call.svg" alt="">Строящиеся дома</a>
</li>
<li class="main_nav_item">
  <a href="/sdannye-doma"><img src="/images/phone-call.svg" alt="">Сданные дома</a>
</li>
<li class="main_nav_item">
  <a href="/tseni"><img src="/images/phone-call.svg" alt="">Офисы</a>
</li>
<li class="main_nav_item">
  <a href="/onas"><img src="/images/phone-call.svg" alt="">Статьи</a>
</li>
<li class="main_nav_item">
  <a href="/contacts">Контакты</a>
</li>
