<div class="container">
  <div class="row">
    <div class="top_banner w100" id="top_banner">
      <div class="flex blueb spaceb whitec_all p20" id="flex">
        <div class="address_time" id="address_time">
        <div class="address" id="address"> <span class="inline-flex">Наш офис: г.Одесса.</span><span class="inline-flex"> Французский бульвар</span></div>
        <div class="work_time" id="work_time">  <span class="inline-flex">График работы:</span> <span class="inline-flex">Пн-Вс с 9:00 до 21:00</span> </div>
      </div>

        <div class="messengers" id="messengers">
          <ul class="flex">
            <li><a href="whatsapp://send?abid=[users name]&text=[message text]"> <img class="small" src="/images/whatsapp_icon.png"> </a></li>
            <li><a href="tg://user?id=123456789"> <img class="small" src="/images/telegram_icon.png"></a></li>
            <li><a href="viber://pa?chatURI=[public account URI]&text=[message text]"> <img class="small" src="/images/viber_icon.png"> </a></li>
          </ul>
        </div>
            <div class="phone nowrap" id="phone">067-621-93-24</div>
      </div>
    </div>
    <div class="col">
      <div class="header_container d-flex flex-row align-items-center trans_300">
        <div class="logo_container">
          <a href="/">
            <div class="logo">
              <img src="/images/logo_budova.png" />
                <span class="official">Официальный партнер</span>
            </div>
          </a>
        </div>
        <nav class="main_nav">
          <ul class="main_nav_list">
		<% include ./header_menu %>
          </ul>
        </nav>
        <div class="header_right">
          <div class="phone-icon">
            <img src="/images/phone_inv.png">
          </div>
          <div class="phones">
            <span><%= sitedata.phone %></span>
            <span><%= sitedata.phone1 %></span>
          </div>
        </div>
        <div class="hamburger_container menu_mm">
          <div class="hamburger menu_mm">
            <i class="fas fa-bars trans_200 menu_mm"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu menu_mm">
  <a href="/">
            <div class="logo">
              <img src="/images/logo_budova.png">
                <span class="official">Официальный партнер</span>
            </div>
          </a>
  <ul class="menu_list">
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="/"><img src="/images/phone-call.svg" alt="">Главная</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
        <a href="/stroyaschiesya-doma"><img src="/images/phone-call.svg" alt="">Строящиеся дома</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/sdannye-doma"><img src="/images/phone-call.svg" alt="">Сданные дома</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/tseni"><img src="/images/phone-call.svg" alt="">Офисы</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/onas"><img src="/images/phone-call.svg" alt="">Статьи</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
        <a href="/contacts"><img src="/images/phone-call.svg" alt="">Контакты</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="login">
<a href="/login"><img src="/images/login.svg" /></a>
</div>
