<div class="container">
  <div class="row">
    <div class="col">
      <div class="header_container d-flex flex-row align-items-center trans_300">
        <!-- Logo -->
        <div class="logo_container">
          <a href="/">
            <div class="logo">
              <img src="<%= d.sitedata.logo  %>" alt="">
                <span><%= d.sitedata.sitename %></span>
            </div>
          </a>
        </div>
        <nav class="main_nav">
          <ul class="main_nav_list">
            <li class="main_nav_item"><a href="/">Главная</a>
            </li>
            <li class="main_nav_item"><a href="/stroyaschiesya-doma">Строящиеся дома</a>
            </li>
            <li class="main_nav_item"><a href="/sdannye-doma">Сданные дома</a>
            </li>
            <li class="main_nav_item"><a href="/tseni">Цены</a>
            </li>
            <li class="main_nav_item"><a href="/onas">О нас</a>
            </li>
            <li class="main_nav_item"><a href="/contacts">Контакты</a>
            </li>
          </ul>
        </nav>
        <!-- Phone Home -->
        <div class="phone_home text-center">
          <span>+38 (093) 646-00-00</span>
        </div>
        <!-- Hamburger -->
        <div class="hamburger_container menu_mm">
          <div class="hamburger menu_mm">
            <i class="fas fa-bars trans_200 menu_mm"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu -->
<div class="menu menu_mm">
  <ul class="menu_list">
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
<a href="/">Главная</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
        <a href="/stroyaschiesya-doma">Строящиеся дома</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/sdannye-doma">Сданные дома</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/tseni">Цены</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
          <a href="/onas">О нас</a>
          </div>
        </div>
      </div>
    </li>
    <li class="menu_item">
      <div class="container">
        <div class="row">
          <div class="col">
        <a href="/contacts">Контакты</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="login">
<a href="/login"><img src="/images/login.svg" /></a>
</div>
