<li class="main_nav_item">
  <a href="/">Главная</a>
</li>
<li class="main_nav_item">
  <a href="/stroyaschiesya-doma">Строящиеся дома</a>
</li>
<li class="main_nav_item">
  <a href="/sdannye-doma">Сданные дома</a>
</li>
<li class="main_nav_item">
  <a href="/tseni">Офисы</a>
</li>
<li class="main_nav_item">
  <a href="/onas">Статьи</a>
</li>
<li class="main_nav_item">
  <a href="/contacts">Контакты</a>
</li>
