<div class="row row_pros">
    <div class="container">
    <div class="pros_tab">
      <div class="pros">
      <h2 class="text-left text-black section_title ">  <span class="inline bold">Наши</span> преимущества</h2>
      <div class="rows">
        <div class="row">
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Первоначальный<br> взнос- от 4%</span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Кредит <br> под 9% годовых</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Рассрочка <br>до 10 лет</span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Рассрочка <br>до 10 лет</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Кредит <br> под 9% годовых</span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class="">Первоначальный <br>взнос- от 4%</span>
          </div>
        </div>
        </div>
        <div class="w100">
      <div class="button_c">
        <button type="button" name="button">Заказать звонок</button>
        <span class="phone_icon"><img src="/images/phone.png"></span>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
