<div class="home_slider_container">
  <div class="owl-carousel owl-theme home_slider">
    <!-- Home Slider Item -->
    <div class="owl-item home_slider_item">
      <!-- Image by https://unsplash.com/@aahubs -->
      <div class="home_slider_background" style="background-image:url(images/omega.jpg)"></div>
      <div class="home_slider_content_container text-center">
        <div class="home_slider_content">
          <h1 data-animation-in="flipInX" data-animation-out="animate-out fadeOut">Старт продаж</h1>
          <div class="text-center text-white all">
          <p class="row1"> Новый дом от СК Будова </p>
          <p class="row2"> Гагаринское плато </p>
          <p class="row3"> Скидка 7% </p>
          <p class="row4"> До 01.06.2018   при 100% оплате, от 50 м<sup>2</sup> </p> </div>
        </div>
      </div>
    </div>
    <!-- Home Slider Item -->
    <div class="owl-item home_slider_item">
      <!-- Image by https://unsplash.com/@aahubs -->
      <div class="home_slider_background" style="background-image:url(images/altair3.jpg)"></div>
      <div class="home_slider_content_container text-center">
        <div class="home_slider_content">
          <h1 data-animation-in="flipInX" data-animation-out="animate-out fadeOut">Старт продаж</h1>

            <div class="text-center text-white all">
          <p class="row1"> Новый дом от СК Будова </p>
          <p class="row2"> Альтаир - 3 </p>
          <p class="row3"> Скидка 7% </p>
          <p class="row4"> До 01.10.2018   при 100% оплате, от 50 м<sup>2</sup> </p>
        </div>
        </div>
      </div>
    </div>
    <!-- Home Slider Item -->
    <div class="owl-item home_slider_item">
      <!-- Image by https://unsplash.com/@aahubs -->
      <div class="home_slider_background" style="background-image:url(images/omega.jpg)"></div>
      <div class="home_slider_content_container text-center">
        <div class="home_slider_content">
          <h1 data-animation-in="flipInX" data-animation-out="animate-out fadeOut">Старт продаж</h1>

              <div class="text-center text-white all">
                <p class="row1">
            Новый дом от СК Будова
          </p>
          <p class="row2">
            Гагаринское плато
          </p>
          <p class="row3">
            Скидка 7%
          </p>
          <p class="row4">
             До 01.06.2018   при 100% оплате, от 50 м<sup>2</sup>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Home Slider Nav -->
  <div class="home_slider_nav_left home_slider_nav d-flex flex-row align-items-center justify-content-end">
    <img src="images/nav_left.png" alt="">
  </div>
</div>
