<div class="home_slider_container faded">
  <link rel="stylesheet" href="/styles/swiper.min.css">


<%

function is_empty(obj) {
  if (obj === '') return true
                 return false
}
function is_undefined(obj) {
if (typeof obj === 'undefined') return true
                                return false
}
function is_empty_or_undefined(obj) {
  if (is_empty(obj) || is_undefined(obj)) return true
                                          return false
}
function print_swiper_gallery(gallery_links_array) {
        if (is_empty_or_undefined(gallery_links_array)) return false
        let gallery_html = ''
        if (is_empty_or_undefined(gallery_links_array)) return false
        gallery_links_array.split(',').forEach(elem => {
          gallery_html += '<div class="swiper-slide"><img src="/uploads/' + elem + '" /></div>'
        });
        return gallery_html
}
%>
<% if (print_swiper_gallery(d['gallery']) !== false) { %>
   <div class="swiper-container">
     <div class="swiper-wrapper">
            <%- print_swiper_gallery(d['gallery']) %>
     </div>
     <div class="swiper-pagination"></div>
   </div>
<% }  else { %>
<div class="swiper-container">
  <div class="swiper-wrapper">
         <div class="swiper-slide"><img src="/images/1.jpg" /> </div>
         <div class="swiper-slide"><img src="/images/2.jpg" /></div>
         <div class="swiper-slide"><img src="/images/3.jpg" /></div>
  </div>
  <div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<%  } %>
   <script src="/js/swiper.min.js"></script>
   <script>
     var swiper = new Swiper('.swiper-container', {
       centeredSlides: false,
       slidesPerView: 3,
       spaceBetween: 30,
       loop: true,
       autoplay: {
          delay: 250000,
          disableOnInteraction: false,
        },
       pagination: {
         el: '.swiper-pagination',
         clickable: true,
       },
       navigation: {
   nextEl: '.swiper-button-next',
   prevEl: '.swiper-button-prev',
 }
     });
   </script>
</div>
