<div class="prices installments">
  <div class="container">
    <div class="row">
    <div class="panel">
  <h3 class="underlined">Наши <span class="bold"> преимущества</span></h3>
  <div class="rows">
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Рассрочка до 10 лет</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
      <div class="col-md-6">
        <span class="circle"></span>
          <span class="bold">Первоначальный взнос- от 4%</span>
      </div>
    </div>
    </div>
    <div class="w100">
<div class="button_c">
      <button type="button" name="button">Заказать звонок</button>
      <span class="phone_icon"><img src="/images/phone.png"></span>
    </div>
  </div>
    </div>
    </div>
    </div>



</div>
