<div class="row cols">
  <div class="w100">
    <div class="row">
    <div id="budova_estate" class="w100"> </div>
    <script src="/static/js/main.69d0863c.js"></script>
      </div>
    </div>
  </div>
