<div class="row">
  <h2 class="text-black text-center section_title ">
    Все жилые комплексы
    <span class="bold">«СК БУДОВА»</span>
  </h2>
</div>
<div class="row cols">
  <div class="container">
    <div class="row">
          <% let i = 0; %>
          <% content.forEach(function(obj){ %>
            <% i++; %>
            <% if (i < 13) { %>
              <%- include ./new_property_card.ejs  %>
                <%  } }) %>
      </div>
    </div>
  </div>
