
<div class="row cols">
  <div class="w100">
    <div class="row">

<div id="budova_estate" class="w100"> </div>
<script src="/react/development/build/static/js/main.8731bdfc.js"></script>
      </div>
    </div>
  </div>
