<div class="map">
<div class="container">
  <div class="row banner">
    <div class="col-md-6 dark">
      <h3 class="text-white">Социальная <span class="bold">инфраструктура</span></h3>
      <div class="frow">
         <span class="text-white">Варненская, 27-А/2 (Киевский район)</span>
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="row">
          <span><img src="/brief/icons8-shopping-cart-96.png" /></span>
        <div class="space-between">  <span>Супермаркет «Копейка»</span>
          <span>170м</span></div>
        </div>
        <div class="row">
          <span><img src="/brief/icons8-dining-room-96.png" /></span>
        <div class="space-between">  <span>Ресторан «Pizza & Grill»</span>
          <span>300м</span></div>
        </div>
        <div class="row">
          <span><img src="/brief/icons8-forest-96.png" /></span>
          <div class="space-between"><span>Парк им. Горького</span>
          <span>1.1км</span></div>
        </div>
        <div class="row">
          <span><img src="/brief/icons8-plus-90.png" /></span>
        <div class="space-between">  <span>Поликлиника «Into Sana»</span>
          <span>700м</span></div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 blueb">
      <div class="row padded_t">
        <span><img src="/brief/icons8-student-center-90.png" /></span>
<div class="space-between">
  <span>Средняя школа <span class="bold"> №100</span></span>
  <span>350м</span>
</div>
      </div>
      <div class="row">
        <span><img src="/brief/icons8-shopping-bag-96.png" /></span>
    <div class="space-between">    <span>ТЦ «City Center»</span>
        <span>1км</span></div>
      </div>
      <div class="row">
        <span><img src="/brief/icons8-dumbbell-90.png" /></span>
      <div class="space-between">  <span>Спортивный зал «Sport life»</span>
        <span>1.3км</span></div>
      </div>
      <div class="row">
        <span><img src="/brief/icons8-cinema-96.png" /></span>
      <div class="space-between">  <span>Кинотеатр  «Планета Кино»</span>
        <span>1.3км</span></div>
      </div>
      <div class="row">
        <span><img src="/brief/icons8-gas-station-96.png" /></span>
      <div class="space-between">  <span>АЗС «ОККО»</span>
        <span>600м</span></div>
      </div>
  </div>
</div>
</div>
</div>
<%   include ../partials/related  %>
