
<div class="search_box">
  <% /* include ../partials/searchbox */ %>
</div>
<div class="featured">
  <% include ../partials/tabs %>
  <% /* include ../partials/properties */ %>
</div>

<div class="advantages adv">

<% include ../partials/advantages %>
</div>
<div class="infrastructure">

<% include ../partials/mapsection %>
</div>
<div class="contact_us">

<% include ../partials/contact_us %>
</div>

<!-- <div class="testimonials"> -->
<% /* include ../partials/testimonials */ %>
  <!-- </div> -->

<!-- <div class="workflow"> -->
    <% /* include ../partials/workflow */ %>
<!-- </div> -->
<!-- <div class="cities"> -->
  <% /* include ../partials/slider_6_pcs */ %>
<!-- </div> -->
<!-- <div class="cta_1"> -->
    <% /* include ../partials/cta */ %>
<!-- </div> -->
<!-- <div class="newsletter"> -->
  <% /* include ../partials/newsletter */ %>
<!-- </div> -->
<% /* include ../partials/footer */ %>
