<% function get_year_quarter(month_number) {
  switch (month_number) {
  case '01':
  case '02':
  case '03':
    return '1 квартал'
    break;
  case '04':
  case '05':
  case '06':
    return '2 квартал'
    break;
  case '07':
  case '08':
  case '09':
  return '3 квартал'
  break;
  case '10':
  case '11':
  case '12':
  return '4 квартал'
  break;
  default:
    return ''
}
return month_number
} %>
<% function convert_quarter_string(datestring) {
  if (typeof(datestring) == 'undefined' || datestring == null || datestring == '') { return }
  if (Date.parse(datestring) < Date.now()) {  return 'Сдан'}
  return '' + get_year_quarter(datestring.split('/')[0]) + ' ' + datestring.split('/')[2] + 'г'
} %>

<div class="related">
  <h2 class="text-black text-center section_title ">
    Лучшие
    <span class="bold">предложения</span>
  </h2>
  <span class="section_subtitle text-center">Новостройки Одессы от СК «Будова» — идеальное решение для покупки новостроя в Одесе от застройщика</span>
<div class="row cols">
  <div class="container">
    <div class="row">
      <% let i = -1; %> <% content.forEach(function(obj){ %> <% i++; %> <% if (i < 3) { %> <%- include ./new_property_cardmd4.ejs  %> <%  } }) %>
      </div>
    </div>
  </div>
</div>
