
<div class="related">
  <h2 class="text-black text-center section_title ">
    Похожие
    <span class="bold">предложения</span>
  </h2>
  <span class="section_subtitle text-center">Новостройки Одессы от СК «Будова» — идеальное решение для покупки новостроя в Одесе от застройщика</span>
<div class="row cols">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="el_card">
          <div class="image_c">
            <img src="/images/altair3.jpg" alt="">
          </div>
            <div class="panel bordered">
              <h4>Жк «Альтаир-3»</h4>
              <p> ул. Жаботинского 54а</p>
              <span><img src="/brief/icons8-money-52.png" /> <span class="bold">от 750 у.е./м<sup>2</sup></span></span>
              <span><img src="/brief/icons8-calendar-96.png" />Сдача 4кв. 2020</span>
              <a href="">Узнать подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="el_card">
          <div class="image_c">
            <img src="/images/altair3.jpg" alt="">
          </div>
            <div class="panel bordered">
              <h4>Жк «Альтаир-3»</h4>
              <p> ул. Жаботинского 54а</p>
              <span><img src="/brief/icons8-money-52.png" /> <span class="bold">от 750 у.е./м<sup>2</sup></span></span>
              <span><img src="/brief/icons8-calendar-96.png" />Сдача 4кв. 2020</span>
              <a href="">Узнать подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="el_card">
          <div class="image_c">
            <img src="/images/altair3.jpg" alt="">
          </div>
            <div class="panel bordered">
              <h4>Жк «Альтаир-3»</h4>
              <p> ул. Жаботинского 54а</p>
              <span><img src="/brief/icons8-money-52.png" /> <span class="bold">от 750 у.е./м<sup>2</sup></span></span>
              <span><img src="/brief/icons8-calendar-96.png" />Сдача 4кв. 2020</span>
              <a href="">Узнать подробнее <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="info_box blueb">
<div class="container">

  <p class="bordered-left">
    Инвестируя в жилье ЖК «Скай Сити» Одесса, Вы заключаете успешную сделку, которая обеспечит Вам и вашим детям комфортную жизнь. Сотрудничая с нами, Вы не будете переплачивать за квартиру, ведь мы ведем прозрачную политику. Уточняйте стоимость квартир у наших специалистов: они с радостью проконсультируют вас по любым вопросам и помогут пподобрать удобный способ оплаты для вас. С ЖК Скай Сити Ваша мечта о покупке современной квартиры в элитном районе со всеми благами цивилизации может стать реальностью . Позвольте себе жить с комфортом, ведь Вы этого достойны! <span class="block">Партнер — СК Будова</span>
  </p>
</div>
</div>
</div>
