<div class="cities">
  <div class="cities_background"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h3>cities clients prefer</h3>
          <span class="section_subtitle">What you need to do</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Cities Slider -->
        <div class="cities_slider_container">
          <div class="owl-carousel owl-theme cities_slider">
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_1.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>miami</span></div>
              </a>
            </div>
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_2.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>dublin</span></div>
              </a>
            </div>
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_3.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>vienna</span></div>
              </a>
            </div>
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_4.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>marbella</span></div>
              </a>
            </div>
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_5.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>new york</span></div>
              </a>
            </div>
            <!-- City Item -->
            <div class="owl-item city_item">
              <a href="#">
                <div class="city_image">
                  <img src="images/city_6.jpg" alt="">
                </div>
                <div class="city_details"><img src="images/search.png" alt=""></div>
                <div class="city_name"><span>geneva</span></div>
              </a>
            </div>
          </div>
          <div class="cities_prev cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
            <img src="images/nav_left.png" alt="">
          </div>
          <div class="cities_next cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
            <img src="images/nav_right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
