<%
function remove_quotation_at_end(a){
  if (a[a.length - 1] === '"' || a[a.length - 1] === "'") return a.slice(0, -1)
}

%>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="section_title text-center desc">
        <h3><%= d.title %></h3>
        <span class="section_subtitle"><%- remove_quotation_at_end(d.content) %></span>
      </div>
    </div>
  </div>
  <div class="row featured_row">

    <div class="tab-content">
    </div>


      <% include ../partials/tabs/tab1 %>


      <% include ../partials/tabs/tab2 %>


      <% include ../partials/tabs/tab3 %>

      <% include ../partials/tabs/tab4 %>

  </div>
		</div>
		</div>
    <script>
$('.tab_active').ready(function(){
    $('.tab_active').click()
})


      $(document).on('click', '.single_navigation  a[href^="#"]', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
    });
    </script>
