<div class="container">
  <div class="row">
    <div class="col">
      <div class="section_title text-center desc">
        <h3>Описание «ЖК Скай Сити»</h3>
        <span class="section_subtitle">Жилой комплекс «Скай Сити» Одесса — это смарт помещения с огромным парковочным местом, оборудованной игровой зоной для детей и отдыха, жилье в одном из самых элитных районов города с удобной транспортной развязкой и развитой инфрастуктурой. Говорить о достоинствах доанного проекта можно бесконечно, поэтому сконцентрируемся на самых приоритетных моментах</span>
      </div>
    </div>
  </div>
  <div class="row featured_row">

    <div class="tab-content">

    </div>


      <% include ../partials/tabs/tab1 %>


      <% include ../partials/tabs/tab2 %>


      <% include ../partials/tabs/tab3 %>

      <% include ../partials/tabs/tab4 %>

  </div>
		</div>
		</div>
    <script>
$('.tab_active').ready(function(){
    $('.tab_active').click()
})


      $(document).on('click', '.single_navigation  a[href^="#"]', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
    });
    </script>
