<h1 class="form-heading">Вход</h1>
<div class="login-form">
  <br>
<div class="main-div">
    <div class="panel">
<div id="result_form">   <p>Введите ваш логин и пароль</p></div>
   </div>
    <form id="ajax_form" method="post">
        <div class="form-group">
            <input type="username" class="form-control" id="username" value="" placeholder="Ваш логин">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" value="" placeholder="Пароль">
        </div>
        <div class="forgot">
        <%# <a href="reset.html">Forgot password?</a> %>
</div>
        <button type="button" id="btn" type="submit" value="Отправить" class="btn btn-primary">Войти</button>
    </form>
    <div class="dashboard_block">

    <a class="dashboard btn" href="/dashboard">Продолжить</a>
  </div>
    <a href="/register" class="register btn">Зарегистрироваться</a>
  <div>
      <a href="/" class="register btn ">На главную</a>
  </div>
    </div>
<p class="botto-text"> Designed by Siteodessa</p>
</div>
<script>$( document ).ready(function() {
    $("#btn").click(
    function(){
      sendAjaxForm('result_form', 'ajax_form', 'http://localhost/login');
      return false;
    }
  );
});
function sendAjaxForm(result_form, ajax_form, url) {
    $.ajax({
        url:     url,
        type:     "POST",
        dataType: "html",
        data: {
          username: $("#username").val(),
          password: $("#password").val()
        },
        success: function(response, xhr) {
          result = $.parseJSON(response);
          var dashboard = null
          if (result.result.search(/пожаловать/i) != -1) {
            if (!dashboard) {
              jQuery('button#btn').addClass('showoff')
              jQuery('.dashboard_block').addClass('showoff')
              jQuery('a.dashboard.btn').addClass('showoff')
              dashboard = true
            }

}
              $('#result_form p').text(''+result.result+'');
      },
      error: function(response) {
        $('#result_form p').text('Вход не выполнен.');
      }
  });
}
</script>
