              <% function ifDefined(elem, markup, elser) {
                if   (typeof(elem) !== 'undefined' )  {
                  return markup
                } else {
                  return elser
                }
              }
              %>
<!DOCTYPE html>
<html lang="en">
<head>
<title><%= sitedata.contacts_page_title %></title>
<link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
<% include ../partials/head %>
</head>
<body  class="contacts">

  <header class="header trans_300">
  <% include ../partials/header %>
  </header>

<div class="super_container">
  		<div class="minihome"> </div>
<div class="row row_contacts">
  <div class="container">
  <div class="row main">
    <div class="flex jc">
      <div class="vertical_button">
        <div class="button_c">
          <button type="button" name="button">Заказать звонок</button>
          <span class="phone_icon"><img src="/images/phone.png"></span>
        </div>
      </div>
    <div class="contacts">
      <h2 class="text-left text-black section_title "> Связаться <span class="inline bold">с нами</span></h2>
      <div class="row">
    <div class="col-md-6 cdata">
    <div class="row">
    <div class="col-md-2 col-xs-2">
      <span class="icon"><img src="images/placeholder.svg" alt=""> </span>
    </div>
    <div class="col-md-10 col-xs-10">
      <span> г.Одесса ул. Екатерининская. 27</span>
      <span>ТЦ «KADORR» 4 этаж, офис 27</span>
      <br>
      <span> г.Одесса ул. Днепропетровская дорога 3 </span>
      <span> ТЦ «Этаж», офис 3</span>
      <div class="messengers" id="messengers">
        <ul class="flex">
          <li><a href="whatsapp://send?abid=[users name]&amp;text=[message text]"> <img class="small" src="/images/whatsapp_icon.png"> </a></li>
          <li><a href="tg://user?id=123456789"> <img class="small" src="/images/telegram_icon.png"></a></li>
          <li><a href="viber://pa?chatURI=[public account URI]&amp;text=[message text]"> <img class="small" src="/images/viber_icon.png"> </a></li>
        </ul>
      </div>
      <span> 073 144 92 10</span>
    </div>
    </div>
    <div class="row">
    <div class="col-md-2">
    <span class="icon"><img src="/images/phone-call.svg" alt=""></span>
    </div>
    <div class="col-md-10">
      <span> 048 771 97 79</span>
      <span> 073 144 92 10</span>
    </div>
    </div>
    <div class="row">
    <div class="col-md-2">
    <span class="icon"><img src="images/message.svg" alt=""></span>
    </div>
    <div class="col-md-10">
      <span> info@novostroiki.od.ua</span>
    </div>
    </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5485.303031811779!2d30.802457428866575!3d46.57435630306219!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x516b6cf69b54cff7!2z0KLQpiDQrdC60LLQsNGC0L7RgA!5e0!3m2!1sru!2sua!4v1542031433484"
        width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>








<div class="row row_form">
  <div class="container">
    <form id="budova_contact_form" class="budova_contact_form" action="post">
      <div class="row">

      <div class="col-md-3">
      <input id="budova_contact_form_name" class="budova_input_field budova_contact_form_name" type="text" placeholder="Имя*" required="required" data-error="Name is required.">
      <input id="budova_contact_form_subject" class="budova_input_field budova_contact_form_subject" type="text" placeholder="Телефон" required="required" data-error="Subject is required.">
      <input id="budova_contact_form_email" class="budova_input_field budova_contact_form_email" type="email" placeholder="E-mail*" required="required" data-error="Valid email is required.">
    </div>
    <div class="col-md-9">
    <textarea id="budova_contact_form_message" class="budova_text_field budova_contact_form_message" name="message" placeholder="Сообщение" required="required" data-error="Please, write us a message."></textarea>
    <button id="budova_contact_send_btn" type="submit" class="budova_contact_send_btn trans_200" value="Submit">Отправить</button>
    </div>
    </div>

    </form>
    </div>
</div>


	<div class="home_advantages">
		<% include ../partials/home_advantages %>
	</div>


<div class="row_adv">
  <div class="advantages adv">
    <% include ../partials/advantages %>
  </div>
</div>

<div class="row_related">
  <div class="related rlt">
		<% include ../partials/related %>
	</div>
</div>



<% /* include ./old-contacts */ %>



  <div class="seobox seob">
	<% include ../partials/seobox %>
</div>
	<div class="contact_us">
		<% include ../partials/contact_us %>
	</div>
</div>
	 <% include ../partials/foot %>
	 <script src="js/contact_custom.js"></script>
	 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
</body>
</html>
