<!DOCTYPE html>
<html lang="en">
<head>
	<title>Budova.partners СК Будова и партнеры</title>
	 <% include ../partials/head %>
	 <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
	 <link rel="stylesheet" type="text/css" href="styles/responsive.css">
	</head>
<body class="homepage">
<div class="super_container">

	<div class="home">
		<% include ../partials/home_slider %>
	</div>


	<header class="header trans_300">
		<% include ../partials/header %>
	</header>

	<div class="houses_loop">
		<% include ../partials/houses_loop %>
	</div>

	<div class="home_advantages">
		<% include ../partials/home_advantages %>
	</div>

	<div class="advantages adv">
		<% include ../partials/advantages %>
	</div>

	<div class="related rlt">
		<% include ../partials/related %>
	</div>

	<div class="contact_us">
		<% include ../partials/contact_us %>
	</div>



	<% // include ../partials/old_home %>
</div>


<% include ../partials/foot %>
</body>
</html>
