<!DOCTYPE html>
<html lang="en">
<head>
	<title> <%= d.title %></title>
<% include ../partials/head %>
<% include ../partials/single/head_single %>
</head>
<body class="singlepage">
<div class="super_container">
	<div class="home">
		<% include ../partials/single/single_slider %>
	</div>
	<header class="header trans_300">
		<% include ../partials/header %>
	</header>
	<div class="featured">
		<% include ../partials/tabs %>
	</div>
		<div class="advantages adv">
		<% include ../partials/advantages %>
	</div>
		<div class="infrastructure">
		<% include ../partials/mapsection  %>
	</div>
		<div class="contact_us">
		<% include ../partials/contact_us %>
	</div>
	<% /* include ../partials/old_single */ %>
	</div>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/styles/bootstrap4/popper.js"></script>
	<script src="/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="/plugins/easing/easing.js"></script>
	<script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/js/listings_single_custom.js"></script>
	</body>
	</html>
