<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= d.title %></title>
	 <% include ../partials/head %>
	 <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
	 <link rel="stylesheet" type="text/css" href="styles/responsive.css">
	</head>
<body>
<div class="super_container">
	<div class="home">
		<% include ../partials/home_slider %>
	</div>
	<header class="header trans_300">
		<% include ../partials/header %>
	</header>
	<div class="search_box">
		<% include ../partials/searchbox %>
	</div>
	<div class="featured">
		<% include ../partials/properties %>
	</div>
	<div class="testimonials">
	<% include ../partials/testimonials %>
		</div>
	<div class="workflow">
			<% include ../partials/workflow %>
	</div>
	<div class="cities">
		<% include ../partials/slider_6_pcs %>
	</div>
	<div class="cta_1">
			<% include ../partials/cta %>
	</div>
	<div class="newsletter">
		<% include ../partials/newsletter %>
	</div>
	<% include ../partials/footer %>
</div>
<% include ../partials/foot %>
</body>
</html>
