<!DOCTYPE html>
<html>
  <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<%# <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body#LoginForm{     height: 100vh;background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
.form-heading { color:#fff; font-size:23px; text-align: center; margin: 100px auto 20px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.dashboard_block {
    height:  50px;
}
.dashboard_block.show a.dashboard.btn {
    opacity:  1;
    transform: none;
}
a.dashboard.btn.showoff {
    opacity: 1;
    transform: translateY(-100%) translateX(0%);
}


.dashboard_block.showoff a.dashboard.btn {
    display:  block;
}
button#btn.showoff {
    transform: translateY(100%);
    opacity:  0;
}

button#btn {
    transition: .4s;
}

a.dashboard.btn {
  transition:  .4s;
  background: #f0ad4e;
  color: #fff;
    opacity:  0;
    transform: translateY(100%) translateX(0%);
    height: 50px;
    margin: 12px;
padding: 11px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 60px 50px 60px;
}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


a.register.btn {
    position:  relative;
    top: -30px;
    color: #ad8d92;

}
</style>
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">Выход</h1>
<div class="login-form">
  <br>
<div class="main-div">
    <div class="panel">
<div id="result_form">


  <h4>Благодарим за визит
<% if (user) { %>
  <% if (user.user_role = 'User') { user.user_role = 'Пользователь' } %>
, <%= user.username %>
<% } %>
</h4>

</div>
   </div>
   <div class="dashboard_block">

   <a class="dashboard btn" href="/">До встречи!</a>
 </div>

    </div>
<p class="botto-text"> Designed by Siteodessa</p>
</div></div></div>
<script>$( document ).ready(function() {

    $(".dashboard_block").addClass('show')
    $("#btn").click(
		function(){
			sendAjaxForm('result_form', 'ajax_form', 'http://localhost/login');
			return false;
		}
	);
});
function sendAjaxForm(result_form, ajax_form, url) {
    $.ajax({
        url:     url,
        type:     "POST",
        dataType: "html",
        data: {
          username: $("#username").val(),
          password: $("#password").val()
        },
        success: function(response, xhr) {
        	result = $.parseJSON(response);
          var dashboard = null
          if (result.result.search(/пожаловать/i) != -1) {
            if (!dashboard) {
              jQuery('button#btn').addClass('showoff')
              jQuery('.dashboard_block').addClass('showoff')
              jQuery('a.dashboard.btn').addClass('showoff')
              dashboard = true
            }

}
            	$('#result_form p').text(''+result.result+'');
    	},
    	error: function(response) {
        $('#result_form p').text('Вход не выполнен.');
    	}
 	});
}
</script>
</body>
</html>
