<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Taxx</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	<link href="common-css/ionicons.css" rel="stylesheet">
	
	<link href="common-css/swiper.css" rel="stylesheet">
	
	<link href="02-about-us/css/styles.css" rel="stylesheet">
	
	<link href="02-about-us/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
 	<header>
		
		<div class="container">
		
			<a class="logo" href="#"><img src="images/logo-with-bg.jpg" alt="Logo"></a>
			
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="icon ion-navicon"></i></div>
			
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="02-about-us.html">About Us</a></li>
				<li><a href="03-services.html">Services</a></li>
				<li><a href="04-portfolio.html">Portfolio</a></li>
				<li><a href="05-news.html">Blog</a></li>
				<li><a href="06-contact.html">Contact</a></li>
			</ul><!-- main-menu -->
			
		</div><!-- container -->
	</header>

	
	<div class="main-slider" style="background-image: url(images/slider-2-1920x1080.jpg);">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">
				
					<h5 class="pre-heading">Just us, the gang</h5>
					<h1><b>About</b></h1>
					
				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->
	
	
	<section class="featured-section section">
		<div class="container">
			<div class="position-relative">
				<div class="featured margin-b-30">
				
					<h3><b>We built the perfect team in 10 years</b></h3>
					<p class="margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
					per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet 
					urna varius sit amet. Ut rhoncus, nunc nec tincidunt volutpat, ex libero eleifend turpis, 
					et venenatis efficitur tortor nequeefficitur tortor nequeaugue est id lacus. </p>
					<a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			
				</div><!-- left-area-->
				
				<div class="box-area"><img src="images/box.png" alt=""/></div>
				
			</div><!-- position-relative-->
		</div><!-- container-->
	</section><!-- featured-section -->
	
	
	<section class="team-section">
		
		<a class="team" href="#"><img src="images/team-1-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-2-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-3-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-4-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-5-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-6-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-7-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-8-400x400.jpg" alt=""/>
			<div class="hover-color"></div>
		</a>
		
	</section><!-- about-section -->
	
	
	<section class="about-section overflow-hidden">
		
		<div class="about">
			
			<h6><b>Media & Publicity</b></h6>
			<h4><b>Creative Modern <br/>& Unique</b></h4>
			<p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
			per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet 
			urna varius sit amet... </p>
			<a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
		
		</div><!-- about-->
		
		<div class="about">
			
			<h6><b>Media & Publicity</b></h6>
			<h4><b>Clean Coded & <br/>Documented</b></h4>
			<p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
			per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet 
			urna varius sit amet... </p>
			<a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
		
		</div><!-- about-->
		
		<div class="about">
			
			<h6><b>Media & Publicity</b></h6>
			<h4><b>We got the best <br/>Developer</b></h4>
			<p class="desc margin-tb-30">Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
			per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet 
			urna varius sit amet... </p>
			<a class="btn btn-border" href="#"><b>DISCOVER IT</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
		
		</div><!-- about-->
		
	</section><!-- about-section -->
	
	
	<section class="client-section center-text">
		<div class="container">
			<div class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false" 
				data-swiper-speed="500" data-swiper-autoplay="1000" data-swiper-margin="50" data-swiper-slides-per-view="5"
				data-swiper-breakpoints="true" data-swiper-loop="true" >
				<div class="swiper-wrapper">
					
					<div class="swiper-slide">
						<a href="#"><img src="images/client-1.jpg" alt="Blog Image"></a>
					</div><!-- swiper-slide -->
					
					<div class="swiper-slide">
						<a href="#"><img src="images/client-2.jpg" alt="Blog Image"></a>
					</div><!-- swiper-slide -->
					
					<div class="swiper-slide">
						<a href="#"><img src="images/client-3.jpg" alt="Blog Image"></a>
					</div><!-- swiper-slide -->
					
					<div class="swiper-slide">
						<a href="#"><img src="images/client-4.jpg" alt="Blog Image"></a>
					</div><!-- swiper-slide -->
					
					<div class="swiper-slide">
						<a href="#"><img src="images/client-5.jpg" alt="Blog Image"></a>
					</div><!-- swiper-slide -->
					
				</div><!-- swiper-wrapper -->
			</div><!-- swiper-container -->
	
		</div><!-- container -->
	</section><!-- client-section -->
	
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-lg-3 col-xl-4">
					<div class="margin-b-30">
						<a class="logo margin-b-10" href="#"><img src="images/logo-white.png" alt="Logo"></a>
						
						<p class="margin-tb-20">Litora torquent per conubia nostra, per inceptos himena eos. 
							Fusce quis tempus elit. Class aptent taciti orquent per conubia nostra inceptos<p>
						<p class="font-black-lite copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
						
					</div><!-- margin-b-30 -->
				</div><!-- col-sm-6 -->
				
				<div class="hidden-lg-down col-xl-2"></div>
				
				<div class="col-md-6 col-lg-3 col-xl-2">
					<div class="footer-section margin-b-30">
						<h5 class="title margin-b-20"><b>Barcelona Office</b></h5>
						<p>C /Libertad, 34, 05200 Arevalo</p>
						<p class="margin-tb-10">0034 373840 2445 322</p>
						<p>hello@company.com</p>
					</div><!-- footer-section -->
				</div><!-- col-sm-2 -->
				
				<div class="col-md-6 col-lg-3 col-xl-2">
					<div class="footer-section margin-b-30">
						<h5 class="title margin-b-20"><b>New York Office</b></h5>
						<p>475 Chinatown Drive, Willasport,TN 38487</p>
						<p class="margin-tb-10">0034 373840 2445 322</p>
						<p>hello@company.com</p>
					</div><!-- footer-section -->
				</div><!-- col-sm-2 -->
				
				<div class="col-md-6 col-lg-3 col-xl-2">
					<div class="footer-section margin-b-30">
						<h5 class="title margin-b-20"><b>Melbourne Office</b></h5>
						<p>21 Ronald Chescent, WEST GLADSTONE QLD 468</p>
						<p class="margin-tb-10">(07) 4936 2100</p>
						<p>hello@company.com</p>
					</div><!-- footer-section -->
				</div><!-- col-sm-2 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</footer>
	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.1.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/swiper.js"></script>
	
	<script src="common-js/scripts.js"></script>
	
	
</body>
</html>