<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Taxx</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	<link href="common-css/ionicons.css" rel="stylesheet">
	
	
	<link href="07-elements/css/styles.css" rel="stylesheet">
	
	<link href="07-elements/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
 	<header>
		<div class="container">
		
			<a class="logo" href="#"><img src="images/logo-with-bg.jpg" alt="Logo"></a>
			
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="icon ion-navicon"></i></div>
			
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="01-homepage.html">Home</a></li>
				<li><a href="02-about-us.html">About Us</a></li>
				<li><a href="03-services.html">Services</a></li>
				<li><a href="04-portfolio.html">Portfolio</a></li>
				<li><a href="05-news.html">Blog</a></li>
				<li><a href="06-contact.html">Contact</a></li>
			</ul><!-- main-menu -->
			
		</div><!-- container -->
	</header>

	<div class="main-slider" style="background-image: url(images/slider-4-1920x1080.jpg);">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">
				
					<h5 class="pre-heading">What you need</h5>
					<h1><b>Elements</b></h1>
					
				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->
	
	
	<section class="buttons-section section">
		<div class="container">
			<h5 class="margin-b-60"><b>Buttons</b></h5>
				
			<a class="btn btn-border" href="#"><b>DISCOVER</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			<a class="btn btn-fill" href="#" ><b>DISCOVER</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			<a class="btn btn-shadow" href="#"><b>DISCOVER</b><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			
		</div><!-- container-->
	</section><!-- social-section -->
	
	
	<section class="line-progress-section section">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h5 class="margin-b-60"><b>Progressbar & Accordians</b></h5>
				</div>
				
				<div class="col-md-12 col-lg-6">
					<div class="margin-b-30">
						<div class="line-progress" data-prog-percent=".97"><div></div>
							<p class="progress-title"><b>Management</b></p></div>
						<div class="line-progress" data-prog-percent=".78"><div></div>
							<p class="progress-title"><b>Design</b></p></div>
						<div class="line-progress" data-prog-percent=".67"><div></div>
							<p class="progress-title"><b>Development</b></p></div>
						
					</div><!-- margin-b-30 -->
				</div><!-- col-sm-6-->
				
				<div class="col-md-12 col-lg-6">
					<div class="panel margin-b-30">
						<div class="panel-area margin-b-30">
							<h5 class="panel-title active">Nullah roncha nibih nibih, vel scrurty mouris
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">reflects the gradient pattern from start-to-end then end-to-start then start-to-end, 
								continuously until the region is filled.</p>
						</div><!-- panel-area -->
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title">Nullah roncha nibih nibih, vel scrurty mouris
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">reflects the gradient pattern from start-to-end then end-to-start then start-to-end, 
								continuously until the region is filled.</p>
						</div><!-- panel-area -->
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title">Nullah roncha nibih nibih, vel scrurty mouris
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">reflects the gradient pattern from start-to-end then end-to-start then start-to-end, 
								continuously until the region is filled.</p>
						</div><!-- panel-area -->
					</div><!-- panel -->
					
				</div><!-- col-sm-6-->
				
			</div><!-- row-->
		</div><!-- container-->
	</section><!-- line-progress -->
	
	<section class="radial-progress-section section">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h5 class="margin-b-60"><b>Progressbar & Accordians</b></h5>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area">
						<div class="radial-progress" data-prog-percent=".97">
							<div></div>
							<h6 class="progress-title">Hard work</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area">
						<div class="radial-progress" data-prog-percent=".78">
							<div></div>
							<h6 class="progress-title">Goodluck</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area">
						<div class="radial-progress" data-prog-percent=".67">
							<div></div>
							<h6 class="progress-title">Creativity</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area">
						<div class="radial-progress" data-prog-percent=".97">
							<div></div>
							<h6 class="progress-title">Development</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
			</div><!-- row-->
		</div><!-- container-->
	</section><!-- radial-progress -->
	
	
	<section class="counter-section section" id="counter">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h5 class="margin-b-60"><b>Milestones</b></h5>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<div class="margin-b-30">
						<i class="margin-b-10 icon-gradient icon-gradient-diamond"></i>
						<h2><b><span class="counter-value" data-duration="400" data-count="14">0</span></b></h2>
						<p><b>Years of Experience</b></p>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-3">
					<div class="margin-b-30">
						<i class="margin-b-10 icon-gradient icon-gradient-bottle"></i>
						<h2>+<b><span class="counter-value" data-duration="1400" data-count="1000">0</span></b></h2>
						<p><b>Happy Clients</b></p>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-3">
					<div class="margin-b-30">
						<i class="margin-b-10 icon-gradient icon-gradient-avatar"></i>
						<h2><b><span class="counter-value" data-duration="700" data-count="14">0</span>K</b></h2>
						<p><b>Followers on FB</b></p>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-3">
					<div class="margin-b-30">
						<i class="margin-b-10 icon-gradient icon-gradient-project"></i>
						<h2><b><span class="counter-value" data-duration="2000" data-count="732">0</span></b></h2>
						<p><b>Finished Projects</b></p>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	
	<section class="iconbox-section section">
		<div class="container">
			<h5 class="margin-b-60"><b>Iconboxes</b></h5>
			<div class="row">
					
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="icnbox active margin-b-50">
						<i class="margin-b-10 icon icon-gradient-2 icon-gradient-camera"></i>
						<h5 class="margin-tb-20"><b>Video & Audio <br/>Management</b></h5>
						<p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta.
							Per incent hermheros.</p>
					</div><!-- icnbox -->
				</div><!-- col-sm-4 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="icnbox margin-b-50">
						<i class="margin-b-10 icon icon-gradient-2 icon-gradient-four-arrow"></i>
						<h5 class="margin-tb-20"><b>Content <br/>Management</b></h5>
						<p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta.
							Per incent hermheros.</p>
					</div><!-- icnbox -->
				</div><!-- col-sm-4 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="icnbox margin-b-50">
						<i class="margin-b-10 icon icon-gradient-2 icon-gradient-bar-chart"></i>
						<h5 class="margin-tb-20"><b>Social Media <br/>Management</b></h5>
						<p class="desc">Class aplent taclicts socio add ilitora toquent per columba nosta.
							Per incent hermheros.</p>
					</div><!-- icnbox -->
				</div><!-- col-sm-4 -->
				
			</div><!-- row-->
		</div><!-- container-->
	</section><!-- iconbox-section -->
	
	
	<section class="iconbox-section section">
		<div class="container">
			<h5 class="margin-b-60"><b>Widgets</b></h5>
			<div class="row">
					
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="src-input-area margin-b-50">
						<form action="post">
							<input class="src-input" type="text" placeholder="Search"/>
							<button class="src-btn"><i class="ion-android-search"></i></button>
						</form>
					</div><!-- src-input-area -->
					
					<h5 class="margin-b-20"><b>Quote</b></h5>
					
					<div class="quoto-area margin-b-50">
						<p class="margin-t-40"><span class="first-letter">R</span>ivam aplent 
							taclicts socio add ilitora toquent per columba nosta.Per incent hermheros.</p>
						<h6 class="margin-t-20"><b>John Smith</b></h6>
					</div><!-- quoto-area -->
					
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<h5 class="margin-b-40"><b>Categories</b></h5>
					<ul class="categories margin-b-50">
						<li><a href="#">Veleum Maximum</a></li>
						<li><a href="#">Nisi el laborto pathel</a></li>
						<li><a href="#">Octi quam acrum</a></li>
						<li><a href="#">Aguin pahara masa</a></li>
						<li><a href="#">Tulle ne luna</a></li>
						<li><a href="#">Etium elius valeula</a></li>
					</ul>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<h5 class="margin-b-20"><b>Instagram</b></h5>
					<ul class="instagram margin-b-50">
						<li><a href="#"><img src="images/instagram-1-100x100.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/instagram-2-100x100.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/instagram-3-100x100.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/instagram-4-100x100.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/instagram-5-100x100.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/instagram-6-100x100.jpg" alt=""></a></li>
					</ul>
					
					<h5 class="margin-tb-20 "><b>Tags</b></h5>
					<ul class="tags margin-b-50">
						<li><a href="#"><b>branding</b></a></li>
						<li><a href="#"><b>identity</b></a></li>
						<li><a href="#"><b>design</b></a></li>
						<li><a href="#"><b>inspiration</b></a></li>
						<li><a href="#"><b>web design</b></a></li>
						<li><a href="#"><b>video</b></a></li>
						<li><a href="#"><b>photography</b></a></li>
					</ul>
					
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<h5 class="margin-b-20"><b>Ad</b></h5>
					<a class="ad margin-b-50" href="#">
						<img src="images/ad-400x600.jpg" alt="">
						<h4 class="title">Your Ad Here</h4>
					</a>
				</div><!-- col-sm-3 -->
				
			</div><!-- row-->
		</div><!-- container-->
	</section><!-- iconbox-section -->
	
	
	<footer>
		<a class="logo" href="#"><img src="images/logo-white.png" alt="Logo"></a>
	</footer>
	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.1.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/jquery.waypoints.min.js"></script>
	
	<script src="common-js/progressbar.min.js"></script>
	
	<script src="common-js/scripts.js"></script>
	
</body>
</html>