<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Footer About -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">
          <div class="logo_container">
            <a href="#">
              <div class="logo">
                <img src="images/logo.png" alt="">
                <span>the estate</span>
              </div>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <ul class="footer_social_list">
            <li class="footer_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="footer_social_item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li class="footer_social_item"><a href="#"><i class="fab fa-behance"></i></a></li>
          </ul>
        </div>
        <div class="footer_about">
          <p>Lorem ipsum dolor sit amet, cons ectetur  quis ferme adipiscing elit. Suspen dis se tellus eros, placerat quis ferme ntum et, viverra sit amet lacus. Nam gravida  quis ferme semper augue.</p>
        </div>
      </div>
      <!-- Footer Useful Links -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">useful links</div>
        <ul class="footer_useful_links">
          <li class="useful_links_item"><a href="#">Listings</a></li>
          <li class="useful_links_item"><a href="#">Favorite Cities</a></li>
          <li class="useful_links_item"><a href="#">Clients Testimonials</a></li>
          <li class="useful_links_item"><a href="#">Featured Listings</a></li>
          <li class="useful_links_item"><a href="#">Properties on Offer</a></li>
          <li class="useful_links_item"><a href="#">Services</a></li>
          <li class="useful_links_item"><a href="#">News</a></li>
          <li class="useful_links_item"><a href="#">Our Agents</a></li>
        </ul>
      </div>
      <!-- Footer Contact Form -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">say hello</div>
        <div class="footer_contact_form_container">
          <form id="footer_contact_form" class="footer_contact_form" action="post">
            <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
            <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
            <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">send</button>
          </form>
        </div>
      </div>
      <!-- Footer Contact Info -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">contact info</div>
        <ul class="contact_info_list">
          <li class="contact_info_item d-flex flex-row">
            <div><div class="contact_info_icon"><img src="images/placeholder.svg" alt=""></div></div>
            <div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
          </li>
          <li class="contact_info_item d-flex flex-row">
            <div><div class="contact_info_icon"><img src="images/phone-call.svg" alt=""></div></div>
            <div class="contact_info_text">2556-808-8613</div>
          </li>
          <li class="contact_info_item d-flex flex-row">
            <div><div class="contact_info_icon"><img src="images/message.svg" alt=""></div></div>
            <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
          </li>
          <li class="contact_info_item d-flex flex-row">
            <div><div class="contact_info_icon"><img src="images/planet-earth.svg" alt=""></div></div>
            <div class="contact_info_text"><a href="https://colorlib.com">www.colorlib.com</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Credits -->
<div class="credits">
  <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
</div>
