
   <div class="input-group">
     <div class="input-group-addon">
       <i class="fa fa-phone"></i>
     </div>
     <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" name="<%= prop %>" data-mask=""  placeholder="<%= value %>" value="<%= value %>">
   </div>
