

   <div class="input-group">
     <div class="input-group-addon">
       <i class="fa fa-link"></i>
     </div>
     <input type="<%= elem.input_type %>" class="form-control"  placeholder="<%= value %>" value="<%= value %>"/>
   </div>
