<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Версия</b> 0.0.7
  </div>
  <strong>&copy; 2018 <a href="https://siteOdessa.com">SiteOdessa.com</a>.</strong> Права защищены.
</footer>
