<style>
li.list-group-item.inactive {
    opacity:  .5;
}</style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Страница профиля
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Домой</a></li>
        <li><a href="#">Кабинет</a></li>
        <li class="active">Профиль</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-md-9" style="">

            <%- include ./profile/main_settings.ejs %>


        </div>

      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
