<section class="home-about-area section-gap relative">
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-6 no-padding home-about-right">
        <h1>
          Заголовок <br>
          Вторая сторока заголовка
        </h1>
        <p>
      Тело страницы "О нас"
        </p>

      </div>
    </div>
  </div>
</section>
