<section class="faq-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-50 header-text text-center">
        <h1 class="mb-10">Frequently Asked Questions</h1>
        <p>
          Who are in extremely love with eco friendly system.
        </p>
      </div>
    </div>
    <div class="row faq-contents justify-content-center align-items-center">
      <div class="col-lg-8 faq-left">
                  <div class="mn-accordion" id="accordion">
                      <div class="accordion-item">
                          <div class="accordion-heading">
                              <h3>Success</h3>
                              <div class="icon">
                                  <i class="lnr lnr-chevron-right"></i>
                              </div>
                          </div>
                          <div class="accordion-content">
                              <p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <div class="accordion-heading">
                              <h3>Info</h3>
                              <div class="icon">
                                  <i class="lnr lnr-chevron-right"></i>
                              </div>
                          </div>
                          <div class="accordion-content">
                              <p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <div class="accordion-heading">
                              <h3>danger</h3>
                              <div class="icon">
                                  <i class="lnr lnr-chevron-right"></i>
                              </div>
                          </div>
                          <div class="accordion-content">
                              <p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <div class="accordion-heading">
                              <h3>Warning</h3>
                              <div class="icon">
                                  <i class="lnr lnr-chevron-right"></i>
                              </div>
                          </div>
                          <div class="accordion-content">
                              <p>For many of us, our very first experience of learning about the celestial bodies begins when we saw our first full moon in the sky. It is truly a magnificent view even to the naked eye. If the night is clear, you can see amazing detail of the lunar surface just star gazing on in your back yard.</p>
                          </div>
                      </div>
                  </div>
      </div>
    </div>

  </div>
</section>
