<section class="work-process-area pt-120">
    <div class="overlayer">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-7">
          <div class="title text-center">
            <h1 class="mb-10">Пройдите 4 простых шага для поднятия настроения!</h1>
            <p></p>
          </div>
        </div>
      </div>
      <div class="total-work-process d-flex flex-wrap justify-content-around align-items-center">
        <div class="single-work-process">
          <div class="work-icon-box">
            <span class="lnr lnr-funnel"></span>
          </div>
          <h4 class="caption">Напишите друзьям </h4>
        </div>
        <div class="work-arrow">
          <img src="img/arrow.png" alt="">
        </div>
        <div class="single-work-process">
          <div class="work-icon-box">
            <span class="lnr lnr-layers"></span>
          </div>
          <h4 class="caption">Захватите хорошее настроение </h4>
        </div>
        <div class="work-arrow">
          <img src="img/arrow.png" alt="">
        </div>
        <div class="single-work-process">
          <div class="work-icon-box">
            <span class="lnr lnr-paw"></span>
          </div>
          <h4 class="caption">Решайте загадки</h4>
        </div>
        <div class="work-arrow">
          <img src="img/arrow.png" alt="">
        </div>
        <div class="single-work-process">
          <div class="work-icon-box">
            <span class="lnr lnr-smile"></span>
          </div>
          <h4 class="caption">Будьте счастливы;)</h4>
        </div>
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
    </div>
  </section>
