<header id="header" id="home">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
          <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
          <a href="tel:+380936460780">+380936460780</a>
          <a href="mailto:7dquests.com@gmail.com">7dquests.com@gmail.com</a>
        </div>
      </div>
    </div>
</div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href=""><img src="img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
              <li class="menu-active"><a href="/">7Dquests</a></li>
              <li><a href="/special_offers">Акции</a> </li>
              <li><a href="/about">О компании</a> </li>
              <li><a href="/feedback">Отзывы</a> </li>
              <li><a href="/quests">Квест комнаты</a> </li>
              <li><a href="/contacts">Контакты</a> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
