<section class="banner-area" id="home">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center">
      <div class="banner-content col-lg-7 col-md-6 justify-content-center ">
        <h6 class="text-uppercase">Креативная группа 7DQuests </h6>
        <h1>
          Квест комнаты в Одессе
        </h1>
        <p class="text-white">
          Наша команда разрабатывает квест-комнаты с полным погружением, предлагая своим гостям незабываемый отдых
        </p>
        <a href="#" class="primary-btn header-btn text-uppercase mt-10">Подробнее</a>
      </div>
      <div class="banner-img col-lg-5 col-md-6 align-self-end">
        <img class="img-fluid door" src="/img/door1.svg" alt="">
      </div>
    </div>
  </div>
</section>
