<section class="discount-section-area relative section-gap">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row align-items-center justify-content-between no-gutters">
      <div class="col-lg-6 discount-left">
        <h1 class="text-white">Партнерам</h1>
        <p class="text-white">
            У вас есть идеи , умеете создавать невероятные головоломки, или вы безумный электромеханик или предприниматель? Мы готовы к любому сотрудничеству! Просто напишите нам
        </p>
        <a id="b3"  class="header-btn sound">Написать обращение</a>
      </div>
      <div class="col-lg-5 discount-right">
        <h4 class="text-white">Напишите нам</h4>
        <p class="text-white small text-center">Вы можете обратиться к нам с любыми вопросами.<br /> Мы услышим Вас, и поможем советом , если попросите. Не надо стесняться.</p>
                  <form class="booking-form" id="myForm" action="#">
                      <div class="row">
                          <div class="col-lg-12 d-flex flex-column">
                              <input name="name" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" class="form-control mt-20" required="" type="text">
                          </div>
                          <div class="col-lg-6 d-flex flex-column">
                              <input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="form-control mt-20" required="" type="text">
                          </div>
                          <div class="col-lg-6 d-flex flex-column">
                              <input name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" required="" type="email">
                          </div>
                          <div class="col-lg-12 flex-column">
                              <textarea rows="5" class="form-control mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                          </div>
                          <div class="col-lg-12 d-flex justify-content-end send-btn">
                              <button class="genric-btn primary mt-20 text-uppercase ">Get Estimate</button>
                          </div>
                      </div>
                  </form>
      </div>
    </div>
  </div>
</section>
