
    <section class="top-category-widget-area pt-90 pb-90 ">
			<h2 class="text-center">Популярные</h2>
      <div class="container">
        <div class="row">


          <% quests.forEach(function(quest){ %>



              <div class="col-lg-4">
                <div class="single-cat-widget">
                  <div class="content relative">
                                <a href="/quests/<%= quest["page_link"] %>" target="_blank">
                                  <div class="thumb">
                                   <img class="content-image img-fluid d-block mx-auto" src="<%= quest["image"] %>" alt="">
                                  </div>

                                </a>
                    </div>
                    <div class="loop_text">
                      <a href="/quests/<%= quest["page_link"] %>" target="_blank">
                                <h4 class="content-title mx-auto text-uppercase"> <%= quest["quest_name"]	%></h4>    </a>
                                <p>Проверьте свои нервы</p>
                    </div>


                </div>
              </div>




          <% }); %>




        </div>
      </div>
    </section>
