<div class="navigation-area">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
      <div class="thumb">
        <a href="#"><img class="img-fluid" src="/img/quest_anabel.jpg" alt=""></a>
      </div>
      <div class="arrow">
        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
      </div>
      <div class="detials">
        <p>Предыдущий квест</p>
        <a href="/quests/anabel"><h4>Проклятие Анабель</h4></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
      <div class="detials">
        <p>Следующий квест</p>
        <a href="/quests/texas"><h4>Техасская резня бензопилой</h4></a>
      </div>
      <div class="arrow">
        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
      </div>
      <div class="thumb">
        <a href="#"><img class="img-fluid" src="/img/texas.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>
