<section class="blog-area section-gap" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Квест - комнаты</h1>
          <p>Представляем Вам популярные квест румы в Одессе</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="img/b1.jpg" alt="">
        </div>
        <p class="meta">Дата<a href="#">Имя</a></p>
        <a href="blog-single.html">
          <h5>Заголовок</h5>
        </a>
        <p>
          Новость
        </p>
        <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="img/b2.jpg" alt="">
        </div>
        <p class="meta">Дата<a href="#">Имя</a></p>
        <a href="blog-single.html">
          <h5>Заголовок</h5>
        </a>
        <p>
          Новость
        </p>
        <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="img/b3.jpg" alt="">
        </div>
        <p class="meta">Дата<a href="#">Имя</a></p>
        <a href="blog-single.html">
          <h5>Заголовок</h5>
        </a>
        <p>
          Новость
        </p>
        <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="img/b4.jpg" alt="">
        </div>
        <p class="meta">Дата<a href="#">Имя</a></p>
        <a href="blog-single.html">
          <h5>Заголовок</h5>
        </a>
        <p>
          Новость
        </p>
        <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
      </div>
    </div>
  </div>
</section>
