

										<section class="brands-area pb-120">
											<div class="container no-padding">
												<div class="row">
												<div class="col-sm-4 single-brand">
													<a href="#"><img class="mx-auto" src="img/partners/1.jpg" alt=""></a>
												</div>
												<div class="col-sm-4 single-brand">
													<a href="#"><img class="mx-auto" src="img/partners/2.jpg" alt=""></a>
												</div>
												<div class="col-sm-4 single-brand">
													<a href="#"><img class="mx-auto" src="img/partners/3.jpg" alt=""></a>
												</div>
												</div>
											</div>
										</section>
