<div class="comment-form">
  <h4>Оставить отзыв</h4>
  <form>
    <div class="form-group form-inline">
      <div class="form-group col-lg-6 col-md-12 name">
        <input type="text" class="form-control" id="name" placeholder="Введите имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
      </div>
      <div class="form-group col-lg-6 col-md-12 email">
        <input type="email" class="form-control" id="email" placeholder="Введите email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control mb-10" rows="5" name="message" id="txtar" placeholder="Сообщение" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Cjj,otybt'" required=""></textarea>
    </div>
    <a id="send_review" class="primary-btn text-uppercase">Опубликовать отзыв</a>
  </form>
</div>
<script>

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}


  $( document ).ready(function() {
      $("#send_review").click(
      function(){

      var data =   {
          author: $("#name").val(),
          mail: $("#email").val(),
          quest: '<%= d.page_link %>',
          review_body: $("#txtar").val(),
        }


        sendAjaxForm('/reviews' , $(this), data);
        return false;
      }
    );
      $("a.bbtns").click(
      function(){


        var data =   {
            mail: $("input#inlineFormInputGroup").val(),
          }
          console.log('client is subscribing');
        sendAjaxForm('/subscribe' , $(this), data);
        return false;
      }
    );
  });

  function formatDate(timestamp) {
    date = new Date(timestamp);
  var dd = date.getDate();
  if (dd < 10) dd = '0' + dd;
  var mm = date.getMonth() + 1;
  if (mm < 10) mm = '0' + mm;
  var yy = date.getFullYear() % 100;
  if (yy < 10) yy = '0' + yy;
  var hh = date.getHours();
  var min = date.getMinutes();
  return dd + '.' + mm + '.' + yy + ' в ' + hh + ':' + min;
}
  function ajax_success(response, button) {
            response = $.parseJSON(response);
          button.text('Спасибо!')
          button.removeAttr('id')
          review_date = Date.parse(response.createdAt)
          review_date =  formatDate(review_date)
                if (response.author) {
                $('.comments-block').append(`<div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                        <i class="fa fa-user thumb_def"></i>
                        </div>
                        <div class="desc">
                            <h5><a href="#">${response.author}</a></h5>
                            <p class="date">${review_date}</p>
                            <p class="comment">
                            ${response.review_body}
                            </p>
                        </div>
                    </div>

                </div>
              </div>`)
            }
  }
  function sendAjaxForm( url, button, data) {
      $.ajax({
          url:     url,
          type:     "POST",
          dataType: "html",
          data: data,
          success: function(response, xhr) {
              ajax_success(response, button)
        },
        error: function(err) {
          console.log(err);
        }
    });
  }
</script>
