



										<section class="">
											<div class=" pt-120 skill-area justify-content-center" id="skills">
											<div class="container">
											<div class="row">
												<div class="col-lg-3 single-skill mx-auto d-block">
														<div class="skills skill-1" data-percent="80"></div>
														<h6 class="text-uppercase">web design</h6>
												</div>
												<div class="col-lg-3 single-skill mx-auto d-block">
														<div class="skills skill-2" data-percent="75"></div>
														<h6 class="text-uppercase">ui / ux design</h6>
												</div>
												<div class="col-lg-3 single-skill mx-auto d-block">
														<div class="skills skill-3" data-percent="60"></div>
														<h6 class="text-uppercase">mobile app</h6>
												</div>
												<div class="col-lg-3 single-skill mx-auto d-block">
														<div class="skills skill-4" data-percent="90"></div>
														<h6 class="text-uppercase">web development</h6>
												</div>
											</div>
											</div>
											</div>
										</section>
