<div class="widget-wrap">


  <div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">Популярные квесты</h4>

        <div class="popular-post-list">

          <% quests.forEach(function(quest){     %>
          <% if (quest.page_link !== d.page_link) {%>

                  <div class="single-post-list d-flex flex-row align-items-center">
                    <div class="thumb">
                      <img class="img-fluid" src="/<%= quest["image"] %>" alt="">
                    </div>
                    <div class="details">
                      <a href="/quests/<%= quest["page_link"] %>"><h6><%= quest["quest_name"]	%></h6></a>
                      <p><%= quest["quest_legend"]	%></p>
                    </div>
                  </div>
          <% }}); %>


        </div>
  </div>
  <div class="single-sidebar-widget grad">
    <a href="#"><img class="img-fluid" src="/img/shin.gif" alt=""></a>
  </div>

  <div class="single-sidebar-widget newsletter-widget">
    <h4 class="newsletter-title">Подписаться</h4>
    <p>
      Предоставляем Вам возможность узнать первыми о наших акциях и новых квестах
    </p>
    <div class="form-group d-flex flex-row">
       <div class="col-autos">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ввести email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" >
          </div>
        </div>
        <a href="#" class="bbtns">Подписаться</a>
    </div>
    <p class="text-bottom">
      Вы сможете отписаться в любое время
    </p>
  </div>
  <div class="single-sidebar-widget tag-cloud-widget">
    <h4 class="tagcloud-title">Метки</h4>
    <ul>
      <li><a href="#">Хоррор</a></li>
      <li><a href="#">Линейный</a></li>
      <li><a href="#">Для новичков</a></li>
      <li><a href="#">Страшные</a></li>
      <li><a href="#">Антуражные</a></li>
      <li><a href="#">Для взрослых</a></li>
    </ul>
  </div>
</div>
