



    <section class="service-area section-gap" id="service">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 pb-50 header-text text-center">
            <h1 class="mb-10">Актуальные акции</h1>
            <p>
              от 7DQuests и партнеров
            </p>
          </div>
        </div>
        <div class="row akcii">



			<div class="col-lg-6 col-md-6">
				<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-service">
							<div class="thumb">
							<img src="img/o1.jpg" alt="">
							</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>условия акции</h4>
							<p>
							Описание акции
							</p>
							<a href="#" class="genric-btn primary-border circle arrow">Подробнее<span class="lnr lnr-arrow-right"></span></a>
							</div>
					</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-service">
							<div class="thumb">
							<img src="img/o1.jpg" alt="">
							</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>условия акции</h4>
							<p>
							Описание акции
							</p>
							<a href="#" class="genric-btn primary-border circle arrow">Подробнее<span class="lnr lnr-arrow-right"></span></a>
							</div>
					</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-service">
							<div class="thumb">
							<img src="img/o1.jpg" alt="">
							</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>условия акции</h4>
							<p>
							Описание акции
							</p>
							<a href="#" class="genric-btn primary-border circle arrow">Подробнее<span class="lnr lnr-arrow-right"></span></a>
							</div>
					</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-service">
							<div class="thumb">
							<img src="img/o1.jpg" alt="">
							</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<h4>условия акции</h4>
							<p>
							Описание акции
							</p>
							<a href="#" class="genric-btn primary-border circle arrow">Подробнее<span class="lnr lnr-arrow-right"></span></a>
							</div>
					</div>
			</div>



        </div>
      </div>
    </section>
