<section class="home-about-area section-gap relative">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-lg-6 no-padding home-about-right">
              <h1>
                Удивите друзей! <br>

              </h1>
              <p>
              Подарочные сертификаты от 7DQuests предоставляют возможность прохождения квеста в любой день и в любое удобное время. Это отличный способ удивить близких Вам людей и подарить действительно интересный, эмоциональный и полезный подарок. Сертификат станет отличным сюрпризом для любой неординарной и многогранной личности. Использование сертификата на квест-комнаты осуществляется по предварительной записи.
              Стоимость сертификата при приобретении на сайте 7DQuests – 500 грн!
              </p>
              <div class="row no-gutters">
                <div class="single-services col">
                  <span class="lnr lnr-diamond"></span>
                  <a href="#">
                    <h4>Возьмите с собой команду!</h4>
                  </a>
                  <p>
                    сертификат действует на команду из 2-4 человек.
                  </p>
                </div>
                <div class="single-services col">
                  <span class="lnr lnr-phone"></span>
                  <a href="#">
                    <h4>Оставьте ваш номер телефона </h4>
                  </a>
                  <p>
                   Мы свяжемся с вами для оформления сертификата
                  </p>

                  <form class="surprise">
                    <input type="text"  class="phone_number"/>
                  <a href="#" class="genric-btn success-border circle arrow"><span>Отправить</span><span class="lnr lnr-arrow-right"></span></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
