<section class="testomial-area section-gap" id="testimonail">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-7">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Отзывы наших посетителей</h1>
          <p class="text-white">Не забудьте оставить свое мнение после игры!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-testimonial-carusel">

                  <% function i_m_not_proud_about_this_func(quest_name) {

                    switch (quest_name) {
                      case 'siyanie':
                        return 'Сияние'
                        break;
                      case 'anabel':
                        return 'Проклятье Аннабель'
                        break;
                      case 'texas':
                        return 'Техасская резня бензопилой'
                        break;
                      default:
                      return quest_name
                    }
                    %>



                  <% } %>


                  <% reviews.forEach(function(review){ %>

              <div class="single-testimonial item">
                <i class="fa fa-user big thumb_def"></i>
                <p class="desc">
  <%= review.review_body %>
                </p>
                <h5><%= review.author %></h5>
                <p>
                   К квесту <a href="/quests/<%= review.quest %>">  "<%= i_m_not_proud_about_this_func(review.quest) %>" </a>
                </p>
              </div>

            <% }); %>


      </div>
    </div>
  </div>
</section>
