<section class="service-area section-gap" id="service">

  <div class="smallimg sma1">

  </div>
  <div class="smallimg sma2">

  </div>
  <div class="smallimg sma3">

  </div>
  <div class="smallimg sma4">

  </div>
  <div class="smallimg sma5">

  </div>
  <div class="smallimg sma6">

  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-50 header-text text-center">
        <h1 class="mb-10">Что мы предлагаем своим гостям?</h1>
        <p>
        Одни из самых запоминающихся часов в особенных квест комнатах
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-service">
          <div class="thumb">
            <img src="img/o1.jpg" alt="">
          </div>
          <h4>Заголовок</h4>
          <p>
            Текст
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service">
          <div class="thumb">
            <img src="img/o2.jpg" alt="">
          </div>
          <h4>Заголовок</h4>
          <p>
            Текст
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service">
          <div class="thumb">
            <img src="img/o3.jpg" alt="">
          </div>
          <h4>Заголовок</h4>
          <p>
            Текст
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-service">
          <div class="thumb">
            <img src="img/o4.jpg" alt="">
          </div>
          <h4>Заголовок</h4>
          <p>
            Текст
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
