
<section class="blog-area section-gap" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-50 header-text text-center">
        <h1 class="mb-10">Что мы предлагаем своим гостям?</h1>
        <p>
        Одни из самых запоминающихся часов в особенных квест комнатах
        </p>
      </div>
    </div>
    <div class="container offerings">
    <div class="row">
      <div class="col-md-4" >
      <div class="grid1">
      <h4>Атмосфера</h4>
      <p>Мы продумали все до мелочей, чтобы погрузить вас в атмосферу легендарных историй! </p>
      </div>
      </div>
      <div class="col-md-4" data-aos="fade-down">
      <div class="grid1">
      <h4>Загадки</h4>
      <p>Сложность квестов усреднена, но если у вас возникнут трудности с прохождением, вам помогут;)</p>
      </div>
      </div>
      <div class="col-md-4" >
      <div class="grid1">
      <h4>Хороший сюжет</h4>
      <p>Наши сюжеты основаны на кино, но рассчитаны не только на всезнающих киноманов.   </p>
      </div>
      </div>
      <div class="col-md-4" >
      <div class="grid1">
      <h4>Мистика</h4>
      <p>В создании квестов не учавствовали потусторонние силы. Но это не точно </p>
      </div>
      </div>
      <div class="col-md-4" >
      <div class="grid1">
      <h4>Эмоции</h4>
      <p>По окончанию игры, хорошее настроение вам обеспечено! </p>
      </div>
      </div>
      <div class="col-md-4" data-aos="fade-up">
      <div class="grid1">
      <h4>Друзья</h4>
      <p>Конечно же в любом квесте главное - это команда! Чем больше команда - тем ярче воспоминания! </p>
      </div>
      </div>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
