<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Настройки сайта</h3>
  </div>








  <% if (typeof(site_data) != "undefined" && typeof(sitedata_schema) != "undefined") { %>
  <% let tree = sitedata_schema.tree %>
  <% let siteinfo = (site_data) %>





  <form class="form-horizontal sitedata" id="<%= site_data[0].id %>">
      <div class="box-body">
    <% for (let prop in tree) { %>
    <% let elem = tree[prop] %>
    <% let inp = 'text' %>
    <div class="form-group">


        <label class="col-sm-2 control-label"> <%= tree[prop]["ru_label"] %>   </label>



                <div class="col-sm-10">

 <% let value = siteinfo[0][prop]  %>


 <% include ../form_inputs/handle_types  %>



        </div>



    </div>
    <% } /* end for prop  in (tree)*/  %>





    <div class="modal-footer">
                  <button type="button" class="update btn btn-info " >Обновить</button>
              </div>



  </form>

          <script type="text/javascript" src="/dist/js/settings.js"></script>
  <% } /* endif (site_data)*/ %>




</div>
