<form id="footer_contact_form" class="footer_contact_form" action="post">
  <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
  <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
  <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
  <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">send</button>
</form>
