<div class="row">
  <div class="col clearfix">
    <div class="listings_nav">
      <ul>
        <li class="listings_nav_item active"><a href="#">01.</a></li>
        <li class="listings_nav_item"><a href="#">02.</a></li>
        <li class="listings_nav_item"><a href="#">03.</a></li>
      </ul>
    </div>
  </div>
</div>
