<div class="cities">
  <div class="cities_background"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h3>Заголовок для ленты с домами</h3>
          <span class="section_subtitle">Аня тут напишет текст</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Cities Slider -->
        <div class="cities_slider_container">
          <div class="owl-carousel owl-theme cities_slider">


                <% content.forEach(function(obj){ %>
              <div class="owl-item city_item">
                <a href="#">
                  <div class="city_image">
                    <img src="/uploads/<%= obj.home_background %>" alt="">
                  </div>
                  <div class="city_details">
                    <a class="page_link" href="/doma/<%= obj.page_link %>" >
                      <img src="images/search.png" alt="">
                    </a>
                  </div>
                  <div class="city_name"><span><%= obj.title %></span></div>
                </a>
              </div>
            <% }); %>

          </div>
          <div class="cities_prev cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
            <img src="images/nav_left.png" alt="">
          </div>
          <div class="cities_next cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
            <img src="images/nav_right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
