	<!-- Testimonials -->
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url(images/testimonials_background.jpg)"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>Наши отзывы</h3>
						<span class="section_subtitle">Узнайте мнение соседей</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="testimonials_slider_container">
						<div class="owl-carousel owl-theme testimonials_slider">


 <% reviews.forEach(function(review){ %>


	 <div class="owl-item">
		 <div class="testimonials_item text-center">
			 <p class="testimonials_text"><%= review.review_body %></p>
			 <div class="testimonial_user">
				 <div class="testimonial_image mx-auto">
					 <img src="<%= review.image %>" alt="<%= review.author %>">
				 </div>
				 <div class="testimonial_name"><%= review.author %></div>
			 </div>
		 </div>
	 </div>


 <% }); %>








						</div>
					</div>
				</div>
			</div>
	</div>
