
<div class="">
<%
function print_swiper_gallery(gallery_links_array) {
        if (typeof gallery_links_array == 'undefined') return false
        let gallery_html = ''
        gallery_links_array = gallery_links_array.split('"')[1]
        if (typeof gallery_links_array == 'undefined') return false
        gallery_links_array.split(',').forEach(elem => {
        elem = elem.replace(/\\/g, '')
          gallery_html += '<div class="swiper-slide"><img src="/uploads/' + elem + '" /></div>'
        });
        return gallery_html
}
function print_swiper_block_gallery(gallery_links_array) {
        if (typeof gallery_links_array == 'undefined') return false
        let gallery_html = ''
        gallery_links_array = gallery_links_array.split('"')[1]
        if (typeof gallery_links_array == 'undefined') return false
        gallery_links_array.split(',').forEach(elem => {
        elem = elem.replace(/\\/g, '')
          gallery_html += '<div class="swiper-slide">' + elem + '</div>'
        });
        return gallery_html
}
%>
<% if (construction1) { %>
   <div class="swiper-container1">
     <div class="swiper-wrapper">
<div class="swiper-slide">    <div class="construction"><div class="construction_card"><%- construction1 %> </div></div> </div>
<div class="swiper-slide">    <div class="construction"><div class="construction_card"><%- construction2 %> </div></div> </div>
<div class="swiper-slide">    <div class="construction"><div class="construction_card"><%- construction3 %> </div></div> </div>
     </div>
     <div class="swiper-pagination"></div>
   </div>



<% }  else { %>
<% include ./single_no_gallery %>
<%  } %>
   <script src="/js/swiper.min.js"></script>
   <script>
     var swiper = new Swiper('.swiper-container1', {
              spaceBetween: 30,
       pagination: {
         el: '.swiper-pagination',
       },
     });
   </script>
</div>
