<div class="listing_details">
  <div class="listing_subtitle">Extra Facilities</div>
  <p class="listing_details_text">Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.</p>
  <div class="rooms">
    <div class="room">
      <span class="room_title">Bedrooms</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/bedroom.png" alt=""></div>
        <span class="room_number">4</span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Bathrooms</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/shower.png" alt=""></div>
        <span class="room_number">3</span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Area</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/area.png" alt=""></div>
        <span class="room_number">7100 Sq Ft</span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Patio</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/patio.png" alt=""></div>
        <span class="room_number">1</span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Garage</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/garage.png" alt=""></div>
        <span class="room_number">2</span>
      </div>
    </div>
  </div>
</div>
