<div class="no-gallery no_anim w100 h100 flex cc rel" style="background:url('/uploads/<%= d.home_background %>'); background-repeat:no-repeat;background-size:cover">

<div class="overlay w100 h100 flex flecol cc" id="overlay">


  <h1 class="cwhite"><%= d.title %></h1>



<div class="scroll" id="scroll">
  <% include ../scroll_icon %>
</div>



</div>
  </div>


<script>

function removeClass_when_ready(qel, clname) {
  $(qel).ready(function () {
  $(qel).removeClass(clname)
})
}
removeClass_when_ready('.no-gallery', 'no_anim')
</script>
