<div class="home_slider_container">
  <link rel="stylesheet" href="/styles/swiper.min.css">
   <style>

     .swiper-container {
       width: 100%;
       height: 100%;
       background: #000;
     }
     .swiper-wrapper {
       height: 50%;
       width: 100%;
       position: relative;
     }
     .swiper-slide {
       height: 100%;
       text-align: center;
       font-size: 18px;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
     }
   </style>
 <body>
<%
function print_swiper_gallery(gallery_links_array) {
        if (typeof gallery_links_array == 'undefined') return false
        console.log('gallery_links_array1', gallery_links_array);
        gallery_links_array = String(gallery_links_array).replace(/"/g, '').replace(/\\/g, '')
        // console.log('gallery_links_array2', gallery_links_array);
        if (typeof gallery_links_array == 'undefined') return false
        let gallery_html = ''
        gallery_links_array.split(',').forEach(elem => {
          // console.log(elem);
      if (elem !== '') gallery_html += '<div class="swiper-slide"><img src="/uploads/' + elem + '" /></div>'
        });
        return gallery_html
}


%>
<% if (print_swiper_gallery(d['gallery']) !== false && d['gallery'] !== '""' && d['gallery'] !== '') { %>
   <div class="swiper-container">
     <div class="swiper-wrapper">
       <%- print_swiper_gallery(d['gallery']) %>
     </div>
     <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
     <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
     <div class="swiper-pagination1"></div>
   </div>
<% }  else { %>
<% include ./single_no_gallery %>
<%  } %>
   <script src="/js/swiper.min.js"></script>
   <script>
     var swiper = new Swiper('.swiper-container', {
       slidesPerView: 3,
       spaceBetween: 30,
       loop: true,
       autoplay: {
          delay: 250000,
          disableOnInteraction: false,
        },
       pagination: {
         el: '.swiper-pagination1',
         clickable: true,
       },
       navigation: {
   nextEl: '.swiper-button-next',
   prevEl: '.swiper-button-prev',
 }
     });


   </script>
</div>
