<div class="col-lg-3 footer_col">
  <div class="footer_col_title">Меню</div>
  <ul class="footer_useful_links">
    <li class="useful_links_item"><a href="#">Главная</a></li>
    <li class="useful_links_item"><a href="#">Строящиеся дома</a></li>
    <li class="useful_links_item"><a href="#">Сданные дома </a></li>
    <li class="useful_links_item"><a href="#">Цены </a></li>
    <li class="useful_links_item"><a href="#">О нас</a></li>
    <li class="useful_links_item"><a href="#">Контакты</a></li>
  </ul>
</div>
