
<div class="milestones">
  <div class="milestones_background parallax-window" data-parallax="scroll" data-image-src="images/milestones.jpg"></div>
  <div class="container">
    <div class="row">

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_1.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="310">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_2.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="129">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_3.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="14">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_4.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="521">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_5.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="1107">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-2 milestone_col">
        <div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
          <div class="milestone_icon d-flex flex-column justify-content-end"><img src="images/milestone_6.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="39">0</div>
          <div class="milestone_text">Циферки</div>
        </div>
      </div>

    </div>
  </div>
</div>
