<div class="container">
  <div class="row">
    <div class="col">
      <div class="section_title text-center">
        <h3>Как мы работаем</h3>
        <span class="section_subtitle">И что потребуется от вас</span>
      </div>
    </div>
  </div>
  <div class="row workflow_row">
    <div class="workflow_rocket"><img src="images/rocket.png" alt=""></div>
    <!-- Workflow Item -->
    <div class="col-lg-4 workflow_col">
      <div class="workflow_item">
        <div class="workflow_image_container d-flex flex-column align-items-center justify-content-center">
          <div class="workflow_image_background">
            <div class="workflow_circle_outer trans_200"></div>
            <div class="workflow_circle_inner trans_200"></div>
            <div class="workflow_num text-center trans_200"><span>01.</span></div>
          </div>
          <div class="workflow_image">
            <img src="images/workflow_1.png" alt="">
          </div>
        </div>
        <div class="workflow_item_content text-center">
          <div class="workflow_title">Выберите расположение</div>
          <p class="workflow_text">Аня тут напишет текст.</p>
        </div>
      </div>
    </div>
    <!-- Workflow Item -->
    <div class="col-lg-4 workflow_col">
      <div class="workflow_item">
        <div class="workflow_image_container d-flex flex-column align-items-center justify-content-center">
          <div class="workflow_image_background">
            <div class="workflow_circle_outer trans_200"></div>
            <div class="workflow_circle_inner trans_200"></div>
            <div class="workflow_num text-center trans_200"><span>02.</span></div>
          </div>
          <div class="workflow_image">
            <img src="images/workflow_2.png" alt="">
          </div>
        </div>
        <div class="workflow_item_content text-center">
          <div class="workflow_title">Аня тут напишет текст</div>
          <p class="workflow_text">Аня тут напишет текст.</p>
        </div>
      </div>
    </div>
    <!-- Workflow Item -->
    <div class="col-lg-4 workflow_col">
      <div class="workflow_item">
        <div class="workflow_image_container d-flex flex-column align-items-center justify-content-center">
          <div class="workflow_image_background">
            <div class="workflow_circle_outer trans_200"></div>
            <div class="workflow_circle_inner trans_200"></div>
            <div class="workflow_num text-center trans_200"><span>03.</span></div>
          </div>
          <div class="workflow_image">
            <img src="images/workflow_3.png" alt="">
          </div>
        </div>
        <div class="workflow_item_content text-center">
          <div class="workflow_title">Аня тут напишет текст</div>
          <p class="workflow_text">Аня тут напишет текст.</p>
        </div>
      </div>
    </div>
  </div>
</div>
