<% include ../partials/roof %>
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Отзывы
            </h1>
            <p class="text-white link-nav"><a href="/">Главная </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/special_offers">Отзывы</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start feedback-area Area -->
    <section class="feedback-area-area pt-120">
      <div class="container">
        <div class="row">

          <% function i_m_not_proud_about_this_func(quest_name) {

            switch (quest_name) {
              case 'siyanie':
                return 'Сияние'
                break;
              case 'anabel':
                return 'Проклятье Аннабель'
                break;
              case 'texas':
                return 'Техасская резня бензопилой'
                break;
              default:
              return quest_name
            }
            %>



          <% } %>


          <% reviews.forEach(function(review){ %>
            <div class="col-lg-4">
              <div class="single-feedback">
                <i class="fa fa-user thumb_def"></i>
                <!-- <img src="img/t1.png" alt=""> -->
                <p>
                  <%= review.review_body %>
                </p>
                <a href="#">
                  <h5 class="text-uppercase"><%= review.author %></h5>
                </a>
                <p>    К квесту <a href="/quests/<%= review.quest %>">  "<%= i_m_not_proud_about_this_func(review.quest) %>" </a></p>
              </div>
            </div>
        <% }); %>




        </div>
      </div>
    </section>
    <% include ../partials/quests_partners %>

    <% include ../partials/basement %>
