
							<% include ../partials/roof %>
							<% include ../partials/quests_splash_screen %>
							<% include ../partials/popular %>
    <section class="post-content-area">
      <div class="container">
        <div class="row">
					<div class="col-lg-8 posts-list">
					<%  /* include ../partials/feed  */ %>
				</div>
          <div class="col-lg-4 sidebar-widgets">
						<%  /* include ./sidebar_widgets */  %>
          </div>
        </div>
      </div>
    </section>
    <% include ../partials/basement %>
