<div class="widget-wrap">
  <% /* include ../partials/search_form */ %>
  <% /* include ../partials/author_card */ %>
  <%  include ../partials/newest_posts  %>
  <div class="single-sidebar-widget ads-widget">
    <a href="#"><img class="img-fluid" src="img/shining_quest.png" alt=""></a>
  </div>
  <%  /* include ../partials/categories */ %>
  <%  include ../partials/newsletter  %>
  <%  include ../partials/tags_cloud  %>
</div>
