							<% include ../partials/roof %>
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Акции
            </h1>
						<p class="text-white link-nav"><a href="/">Главная </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/special_offers">Акции</a></p>
          </div>
        </div>
      </div>
    </section>



		<% include ../partials/special_offers_loop %>
		<% include ../partials/partners %>
		<% include ../partials/four_steps %>
							<% include ../partials/basement %>
